{% extends 'base_front.html.twig' %}

{% block title %}
	Boutique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('seed')}}
	{{ encore_entry_link_tags('form')}}
{% endblock %}

{% block body %}

	{{ include('seed/index.html.twig') }}

{% endblock %}

{% block javascripts %}
	<script>
		let backoffice = false;
	</script>
	{{ encore_entry_script_tags('displaySidebar') }}
	{{ encore_entry_script_tags('dynamicSearchSeedsAdmin') }}
{% endblock %}
