{% extends 'base_front.html.twig' %}

{% block title %}
	{{ seed.name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('seed_show')}}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	{% include('seed/more_information.html.twig') %}
{% endblock %}
