<!DOCTYPE html>

<title>New Seed</title>

{% block stylesheets %}
    {{ encore_entry_link_tags('form')}}
{% endblock %}

{% block body %}
    <h1>Create new Seed</h1>

    {{ include('front/seed/_form.html.twig') }}

    <a href="{{ path('seed_index') }}">back to list</a>
{% endblock %}
