{% extends 'base_front.html.twig' %}

{% block title %}
	{{ seed.name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('seed_show')}}
	{{ encore_entry_link_tags('body-lime')}}
{% endblock %}

{% block body %}
	<div id="presentation_box">
		<div class="navigation">
			<a href="{{ path('seed_index') }}" class="btn btn-seedseller-lime tw-flex">
				<i class="fas fa-arrow-alt-left mr-1"></i>
				&nbsp;Retour à la boutique
			</a>
			<a href="{{ path('market_new', {'id': seed.id}) }}" class="btn btn-seedseller-lime tw-flex">
				<i class="fas fa-plus mr-1"></i>
				&nbsp;Ajouter une vente
			</a>
		</div>
		<img src="{{ asset(seed.image is not null ? '/uploads/images/seed_pic/' ~ seed.image : '/uploads/images/seed_pic/default_seed_pic.jpeg') }}" id="seed_picture">
		<h1 id="seed_name">{{ seed.name }}</h1>
		<p id="seed_categories">
			<i>Categorie:</i>
			<strong>{{ seed.category.name }}</strong>
		</p>
		<a href="{{ path('seed_more_information', { 'id': seed.id }) }}" class="tw-flex">
			<i class="fas fa-external-link-alt mr-1"></i>
			Plus d'infos
		</a>
		<div id="seed_infos" class="col-12">
			<p id="number_offer">
				<i>Nombre d'offre:</i>
				<strong>{{ markets|length }}</strong>
			</p>
			<p id="average_price">
				<i>Prix moyen:</i>
				<strong>{{ averagePrice }} €/{{ seed.measurementUnit }}</strong>
			</p>
		</div>

	</div>

	{% include('market/index.html.twig') %}
{% endblock %}
