{% extends 'base_back.html.twig' %}

{% block title %}
    Panel admin - Les commandes
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('seed')}}
    {{ encore_entry_link_tags('body-lime')}}
    {{ encore_entry_link_tags('seed_show')}}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dynamicSearchCommandsAdmin') }}
{% endblock %}

{% block body %}
    <div>
        <h1 class="text-center tw-my-4">Les commandes</h1>
        <hr class="delimiter">
        <div class="d-flex flex-row justify-content-between tw-ml-0 md:tw-mx-4">
            <div>
                <label for="delivery_man">Filtrer par livreur</label>
                <select id="delivery_man">
                    <option value="all">Tous</option>
                    {% for deliveryMan in deliveryMans %}
                        <option value="{{ deliveryMan.id }}" {% if selectedDeliveryMan is not null and selectedDeliveryMan.id == deliveryMan.id %}selected{% endif %}>{{ deliveryMan.firstname }} {{ deliveryMan.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="owner">Filtrer par auteur</label>
                <select id="owner">
                    <option value="all">Tous</option>
                    {% for owner in owners %}
                        <option value="{{ owner.id }}" {% if selectedOwner is not null and selectedOwner.id == owner.id %}selected{% endif %}>{{ owner.firstname }} {{ owner.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="selling_box row col-lg-12 col-md-5 d-none text-center align-items-lg-center" id="command-prototype">
            <div class="tw-flex flex-row justify-content-lg-start justify-content-md-center align-items-center col-lg-4 col-md-12 mb-lg-0 mb-md-3">
                <img src="" class="owner-picture">
                <div class="tw-flex flex-column align-items-start">
                    <p class="mb-0 owner-names">
                        <span>XXX XXX</span>
                    </p>
                </div>
            </div>
            <div class="selling-infos col-lg-4 col-md-6 d-lg-flex flex-lg-column align-items-lg-start">
                <div class="tw-flex">
                    <strong class="totalPrice">XXX€</strong>
                </div>
                <div class="tw-flex">
                    <strong class="address"></strong>
                </div>
                <div class="tw-flex">
                    <strong class="status">
                        XXXX
                    </strong>
                </div>
            </div>
            <div class="deliveryMan">
                XXX
            </div>
        </div>
        <div id="commands">
            {% for command in commands %}
                <div class="selling_box row col-lg-12 col-md-5 d-lg-flex text-center align-items-lg-center">
                    <div class="tw-flex flex-row justify-content-lg-start justify-content-md-center align-items-center col-lg-4 col-md-12 mb-lg-0 mb-md-3">
                        <img src="{{ (command.owner.image is null) ? asset("/uploads/images/profile_pic/default_profile_pic.png") : vich_uploader_asset(command.owner, 'imageFile') }}" class="owner-picture">
                        <div class="tw-flex flex-column align-items-start">
                            <p class="mb-0">
                                <span>{{ command.owner.firstname }} {{ command.owner.lastname }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="selling-infos col-lg-4 col-md-6 d-lg-flex flex-lg-column align-items-lg-start">
                        <div class="tw-flex">
                            <strong>{{ command.totalPrice }}€</strong>
                        </div>
                        <div class="tw-flex">
                            <strong>{{ command.address.city }}
                                    {{ command.address.address }}</strong>
                        </div>
                        <div class="tw-flex">
                            <strong>
                                {% if command.status == constant('PAID_STATUS', command) %}
                                    Payée
                                {% elseif command.status == constant('DISPATCHED_STATUS', command) %}
                                    En cours d'acheminemant
                                {% elseif command.status == constant('DELIVERED_STATUS', command) %}
                                    Livré (le {{ command.deliveredAt|date('Y-m-d H:i:s') }})
                                {% endif %}
                            </strong>
                        </div>
                    </div>
                    <div>
                        {% if command.status == constant('PAID_STATUS', command) %}
                            Encore aucun livreur
                        {% else %}
                            Livreur : {{ command.deliveryMan.firstname }} {{ command.deliveryMan.lastname }}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <p>Aucune commande ne correspond à votre recherche</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
