{% extends 'base_front.html.twig' %}

{% block title %}Les commandes
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
    <main class="text-white text-center">
        <h2 class="my-5">Commandes à livrer</h2>
        <hr class="delimiter bg-white">

        <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-4 tw-gap-16 tw-mx-16 tw-mb-4">
            {% for command in commands %}
                <div class="card seedseller-lime-text seedseller-brown border">
                    <div class="card-body">
                        <p>Client :</p>
                        <p>{{ command.command.owner.firstname }} {{ command.command.owner.lastname }}</p>
                        <p>{{ command.command.owner.email }}</p>
                        <br>
                        <p>Adresse de l'entrepot :</p>
                        <p>1 rue des prés, 68400 Riedisheim</p>
                        <br>
                        <p>Adresse d'arrivée :</p>
                        <p>{{ command.command.address.address }} {{ command.command.address.city }}</p>
                        <br>
                        {{ form_start(command.form) }}
                            <button class="btn btn-seedseller-green">{{ button_label|default('Prendre la commande') }}</button>
                        {{ form_end(command.form) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if not commands %}
            <h3 class="tw-mx-auto">Aucune commande à livrer trouvée</h3>
        {% endif %}

        <h2 class="my-5 text-white text-center">Mes Commandes à livrer</h2>
        <hr class="delimiter bg-white">

        <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-4 tw-gap-16 tw-mx-16 tw-mb-4">
            {% for command in commandsToDelivery %}
                <div class="card seedseller-lime-text seedseller-brown border">
                    <div class="card-body">
                        <p>Client :</p>
                        <p>{{ command.command.owner.firstname }} {{ command.command.owner.lastname }}</p>
                        <p>{{ command.command.owner.email }}</p>
                        <br>
                        <p>Adresse de l'entrepot :</p>
                        <p>1 rue des prés, 68400 Riedisheim</p>
                        <br>
                        <p>Adresse d'arrivée :</p>
                        <p>{{ command.command.address.address }} {{ command.command.address.city }}</p>
                        <br>
                        <a href="{{ path('delivery_show', {'id': command.command.id}) }}" class="btn btn-seedseller-lime mb-3">Plus d'information</a>
                        {{ form_start(command.form) }}
                            <button class="btn btn-seedseller-green">{{ button_label|default('Terminer la commande') }}</button>
                        {{ form_end(command.form) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if not commandsToDelivery %}
            <h3 class="tw-mx-auto">Aucune commande à livrer trouvée</h3>
        {% endif %}
    </main>
{% endblock %}
