{% extends 'base_front.html.twig' %}

{% block title %}Commande ID n°{{command.id }}  à livrer
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
	{{ encore_entry_link_tags('deliveryMap')}}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
{% endblock %}

{% block body %}
	<main class="text-white text-center">
		<h2 class="my-5">Commande ID n°{{command.id }} à livrer</h2>
		<hr class="delimiter bg-white">

		<div class="seedseller-lime-text seedseller-brown tw-grid md:tw-grid-cols-2 tw-flex">
			<div class="m-auto">
                <div class="mb-5">
				<p>Client :</p>
                    <p>{{ command.owner.firstname }} {{ command.owner.lastname }}</p>
                    <p>{{ command.owner.email }}</p>
                </div>
                <div class="mb-5">
                    <p>Adresse de l'entrepot :</p>
                    <p>1 rue des prés, 68400 Riedisheim</p>
                </div>
                <div class="mb-5">
                    <p>Adresse d'arrivée :</p>
                    <p>{{ command.address.address }} {{ command.address.city }}</p>
                </div>
				{{ form_start(form) }}
				    <button class="btn btn-success">{{ button_label|default('Terminer la commande') }}</button>
				{{ form_end(form) }}
			</div>
			<div id="delivery_map" class="mx-5 text-dark"></div>
		</div>
        <a href="{{ path('delivery') }}" class="btn btn-seedseller-lime mt-5">Retour</a>
	</main>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('deliveryMap') }}
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
{% endblock %}
