{{ form_start(form) }}
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.city) }}
    <label class="label-name">
        <span class="content-name">Ville</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.zipcode) }}
    <label class="label-name">
        <span class="content-name">Code Postal</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.address) }}
    <label class="label-name">
        <span class="content-name">Adresse</span>
    </label>
</div>
<button class="btn btn-lg btn-seedseller-green my-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
