{% extends 'base_front.html.twig' %}

{% block title %}
	Vos addresses
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	<main class="text-center text-white">
		<h1 class="my-3 mt-5">Vos adresses</h1>
		<hr class="delimiter bg-white">

		<div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-4 tw-flex tw-gap-8 tw-mx-16">
			{% for address in addresses %}
				<div class="card seedseller-brown-text seedseller-lime border lg:tw-h-48">
					<div class="card-body">
						<i class="fas fa-home"></i>
						<p class="mb-3">{{ address.address }}</p>
						<i class="fas fa-city"></i>
						<p class="mb-3">{{ address.zipcode }} {{ address.city }}</p>
						<div class="d-flex justify-content-center">
							<a href="{{ path('addresses_edit', {'id': address.id}) }}" class="card-link">
								<i class="fas fa-pen"></i>
							</a>
						</div>
					</div>
				</div>
			{% else %}
				<h2 class="tw-mx-auto">Aucune addresse trouvée</h2>
			{% endfor %}
		</div>

		<a href="{{ path('addresses_new') }}" class="btn btn-seedseller-lime my-5">Créer une addresse</a>
	</main>
{% endblock %}
