{% extends 'base_front.html.twig' %}

{% block title %}
	Nouvelle addresse
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form')}}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	<main class="text-center text-white w-100">
		<h1 class="my-5">Nouvelle addresse</h1>
		<hr class="delimiter bg-white">
		<div class="form my-4 text-center mx-auto">
			{{ include('front/addresses/_form.html.twig') }}
		</div>

		<a href="{{ path('addresses_index') }}" class="btn btn-seedseller-lime my-5">Retour à la liste</a>
	</main>
{% endblock %}
