{% extends 'base_front.html.twig' %}

{% block title %}
	Visionnez votre adresse
{% endblock %}

{% block body %}
	<h1>Visionnez votre adresse</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Ville</th>
				<td>{{ address.city }}</td>
			</tr>
			<tr>
				<th>Code postal</th>
				<td>{{ address.zipcode }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ address.address }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('addresses_index') }}">Retour à la liste</a>

	<a href="{{ path('addresses_edit', {'id': address.id}) }}">éditer</a>

	{{ include('front/addresses/_delete_form.html.twig') }}
{% endblock %}
