<form method="post" action="{{ path('admin_seed_suggestion_validate', {'id': seed_suggestion.id}) }}" onsubmit="return confirm('Are you sure you want to validate this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ seed_suggestion.id) }}">
    <button class="btn"><i class="fas fa-check fa-2x text-white"></i></button>
</form>
