{% if backoffice %}
    {% extends 'base_back.html.twig' %}
{% endif %}

{% block title %}éditer une graine{% endblock %}

{% block body %}
    {% include 'seed_suggestion/edit.html.twig' %}
{% endblock %}