{% extends 'base_back.html.twig' %}

{% block title %}Suggestions de graine{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'seed_suggestion/index.html.twig' %}
{% endblock %}
