{% extends 'base_front.html.twig' %}

{% block title %}Vos commandes
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	<main class="text-white text-center">
		<h1 class="my-5">Mes commandes</h1>
		<hr class="delimiter bg-white">

		<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-4 tw-gap-16 tw-mx-16 tw-mb-8">
			{% for command in commands %}
				<div class="card seedseller-lime-text seedseller-brown border">
					<div class="card-body">
						<p>{{ command.totalPrice }}€</p>
						<p>{{ command.address.city }}
							{{ command.address.address }}</p>
						<p>
							{% if command.status == constant('PAID_STATUS', command) %}
								Payée <i class="far fa-check-circle"></i>
							{% elseif command.status == constant('DISPATCHED_STATUS', command) %}
								En cours d'acheminemant <i class="fas fa-truck"></i>
							{% elseif command.status == constant('DELIVERED_STATUS', command) %}
								Livré (le {{ command.deliveredAt|date('Y-m-d H:i:s') }}) <i class="fas fa-home"></i>
							{% endif %}
						</p>
						<a class="btn btn-seedseller-lime tw-my-2" href="{{ path('command_show', {'id': command.id}) }}">Afficher</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if not commands %}
			<div>
				<h2 class="tw-mx-auto">Aucune commande trouvée</h2>
			<div>
		{% endif %}
	</main>
{% endblock %}
