{% for itemCommand in command.commandItems %}
	<tr>
		<td class="border-0 d-inline-flex justify-content-center tw--mt-4 ">
            <img src="{{ itemCommand.market.seed.image is not null ? vich_uploader_asset(itemCommand.market.seed, 'imageFile') : asset('/uploads/images/seed_pic/default_seed_pic.jpeg') }}" alt="{{ itemCommand.market.seed.name }}" class="tw-h-16 tw-w-16">
		</td>
		<td class="border-0">
			<a class="link-underline" href="{{ path('seed_more_information', {id: itemCommand.market.seed.id}) }}">{{ itemCommand.market.seed.name }}</a>
		</td>
		<td class="border-0">{{ itemCommand.quantity }} {{ itemCommand.market.seed.measurementUnit }}</td>
		<td class="d-flex justify-content-end border-0">
			{% if command.status == constant('PENDING_STATUS', command) %}
				{% if itemCommand.market.canSeparate %}
					<a class="btn btn-seedseller-lime mr-2" href="{{ path('cart_edit', {id: itemCommand.id}) }}"><i class="far fa-edit"></i></a>
				{% endif %}
				{{ include('front/cart/_delete_form.html.twig') }}
			{% endif %}
		</td>
        <td class="text-right border-0">{{ itemCommand.price }} €</td>
	</tr>
{% endfor %}
