{% extends 'base_front.html.twig' %}

{% block title %}Mes achats
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
    <main class="text-white text-center">
        <h1 class="my-5">Achats de la commande N°{{ command.id }}</h1>
        <hr class="delimiter bg-white">
        {% if command is not null and command.commandItems|length > 0 %}
			<p class="mb-5">
				Statut :
				{% if command.status == constant('PAID_STATUS', command) %}
					Payée <i class="far fa-check-circle"></i>
				{% elseif command.status == constant('DISPATCHED_STATUS', command) %}
					En cours d'acheminemant <i class="fas fa-truck"></i>
				{% elseif command.status == constant('DELIVERED_STATUS', command) %}
					Livré (le {{ command.deliveredAt|date('Y-m-d H:i:s') }}) <i class="fas fa-home"></i>
				{% endif %}
			</p>
            <div class="row mx-5">
				<div class="col-12">
					<div class="table-responsive">
						<table class="table text-white">
							<thead>
								<tr>
									<th scope="col">Image</th>
									<th scope="col">Produit</th>
									<th scope="col" class="text-center">Quantité</th>
									<th class="tw-w-20"></th>
									<th scope="col" class="text-right">Prix</th>
								</tr>
							</thead>
							<tbody>
								{% include 'front/command/items_list.html.twig' with {'command': command} %}
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td class="text-right">Sous-Total</td>
									<td class="text-right">{{ command.totalPrice }}
										€</td>
								</tr>
								<tr>
									<td class="border-0"></td>
									<td class="border-0"></td>
                                    <td class="border-0"></td>
									<td class="text-right">Livraison</td>
									<td class="text-right">0 €</td>
								</tr>
								<tr>
									<td class="border-0"></td>
									<td class="border-0"></td>
									<td class="border-0"></td>
									<td class="text-right">
										<strong>Total</strong>
									</td>
									<td class="text-right">
										<strong>{{ command.totalPrice }}
											€</strong>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
        {% else %}
            <h2 class="tw-mx-auto">Aucun élément trouvé</h2>
        {% endif %}
        <a href="{{ path('command_index') }}" class="btn btn-seedseller-lime my-5">Retour à la liste</a>
    </main>
{% endblock %}
