{% extends 'base_front.html.twig' %}

{% block title %}Visionnez votre achat
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	<main class="text-white text-center">
		<h1 class="my-5">Mon achat</h1>
		<hr class="delimiter bg-white">

		<div>
			<p class="seedseller-lime-text text-bold">Quantitée :
				<span class="text-white">{{ itemCommand.quantity }}
					{{ itemCommand.market.seed.measurementUnit }}</span>
			</p>
			<p class="seedseller-lime-text text-bold">Prix :
				<span class="text-white">{{ itemCommand.price }}
					€</span>
			</p>
			<p class="seedseller-lime-text text-bold">La graine :
				<span class="text-white">
					<a target="_blank" href="{{ path('seed_show', {id: itemCommand.market.seed.id}) }}" class="link-underline">{{ itemCommand.market.seed.name }}</a>
				</span>
			</p>
		</div>

		<a href="{{ cart ? path('cart_index') : path('command_show', {'id': itemCommand.command.id}) }}" class="btn btn-seedseller-lime my-5">{{ cart ? 'Retour au panier' : 'Retour à la commande' }}</a>
		{% if cart %}
			{% include "front/cart/_delete_form.html.twig" %}
		{% endif %}

	{% endblock %}
