<section>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.seedName, {'label' : 'Graine'}) }}
            {{ form_row(form.image, {'label' : 'Image'}) }}
            {{ form_row(form.categoryName, {'label' : 'Catégorie'}) }}
            {{ form_row(form.measurementUnit, {'label' : 'Unité de mesure'}) }}
            {{ form_row(form.description, {'label' : 'description'}) }}
            {{ form_row(form.additionalInformation, {'label' : 'Informations supplémentaires'}) }}
            {{ form_widget(form) }}

            <button class="btn">{{ button_label|default('Valider') }}</button>
        {{ form_end(form) }}
    </div>
</section>
