{% extends 'base_front.html.twig' %}

{% block title %}Editer une graine{% endblock %}

{% block body %}
    <h1>Editer la graine</h1>
    {{ include('front/seed_suggestion/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('seed_suggestion_index') }}">Retour à la liste</a>
{% endblock %}
