{% extends 'base_front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block title %}Suggestion de graine{% endblock %}

{% block body %}
    <main class="text-white text-center">
        <h1 class="my-5">Merci pour votre suggestion de graine !</h1>
        <hr class="delimiter bg-white">
        <div class="my-5">
            <i class="fas fa-seedling fa-7x"></i>
        </div>
        <p>
            Un administrateur va étudier votre demande
        </p>
        <a class="btn btn-seedseller-lime mt-5" href="{{ path('seed_index') }}">Retour à la boutique</a>
    </main>
{% endblock %}