<form method="post" action="{{ market is defined ? path('admin_market_delete', {'id': market.id}) : ''}}" onsubmit="return confirm('ëtes vous sur de vouloir supprimer cette offre?');" class="deleteForm">
    <input type="hidden" name="_method" value="DELETE">
    {% if market is defined %}
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ market.id) }}">
    {% endif %}
    <button><i class="fas fa-trash tw-m-1"></i>Supprimer</button>
</form>
