{% extends 'base_back.html.twig' %}

{% block title %}
	Modifier offre
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown') }}
	{{ encore_entry_link_tags('form') }}
{% endblock %}


{% block body %}
	{{ include('market/edit.html.twig') }}
{% endblock %}
