<p>Bonjour,</p>
<p>Seedseller est heureux de vous compter dès à présent parmi sa brigade de livreurs et livreuses de graines.</p>
<p>Vous avez maintenant accès à la zone livraison et pouvez dès à présent effectuer des livraisons.</p>
<p>Merci d'avoir rejoint notre équipe de livreurs.</p>
<p>Cordialement</p>
<p>Seedseller, le paradis de la graine</p>
<hr>
<p><small>Cet e-mail a été envoyé automatiquement, merci de ne pas tenter d'y répondre</small></p>