<p>Bonjour,</p>
<p>Après étude de nos besoins, nous vous informons que votre candidature en tant que livreur n'a pas été acceptée.</p>
<p>Nos besoins sont fluctuants, alors n'hésitez pas à refaire une demande dans quelques temps.</p>
<p>Nous vous remercions de l'intérêt que vous portez à Seedseller.</p>
<p>Cordialement</p>
<p>Seedseller, le paradis de la graine</p>
<hr>
<p><small>Cet e-mail a été envoyé automatiquement, merci de ne pas tenter d'y répondre</small></p>