<p>Bonjour,</p>
<p>Nous avons le plaisir de vous accueillir chez Seedseller !<p>
<p>Nous vous souhaitons de passer un agréable moment au paradis de la graine !</p>
<p>Pour confirmer votre inscription, veuillez cliquer sur ce lien :</p>
<a href="{{ validationLink }}" target="_blank">Lien d'activation</a>
<p>Cordialement</p>
<p>Seedseller, le paradis de la graine</p>
<hr>
<p><small>Cet e-mail a été envoyé automatiquement, merci de ne pas tenter d'y répondre</small></p>