<p>Bonjour,</p>
<p>Nous vous remercions pour votre suggestion de graine.<p>
<p>Nous allons l'examiner avant de l'ajouter aux graines disponibles.</p>
<p>Cordialement</p>
<p>Seedseller, le paradis de la graine</p>
<hr>
<p><small>Cet e-emails a été envoyé automatiquement, merci de ne pas tenter d'y répondre</small></p>
