<form method="post" action="{{ path('admin_user_remove_delivery_role', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sur de retirer le role livreur à cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('remove_delivery_role' ~ user.id) }}">
    <button class="btn">Retirer role livreur</i></button>
</form>