{% extends 'base_back.html.twig' %}

{% block title %}
	Panel admin - Les utilisateurs
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('seed')}}
	{{ encore_entry_link_tags('body-lime')}}
	{{ encore_entry_link_tags('seed_show')}}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('dynamicSearchUsersAdmin') }}
{% endblock %}

{% block body %}
	<div>
		<h1 class="text-center tw-my-4">Les utilisateurs</h1>
		<hr class="delimiter">
		<div class="d-flex flex-row justify-content-between tw-ml-0 md:tw-mx-4">
			<input type="text" class="form-control" id="search" placeholder="Recherche...">
			<div>
				<label for="role">Filtrer par rôle</label>
				<select id="role">
					<option value="ROLE_USER">Tous</option>
					<option value="ROLE_DELIVERY">Livreur</option>
					<option value="ROLE_ADMIN">Administrateur</option>
				</select>
			</div>
		</div>
		<div class="selling_box row col-lg-12 col-md-5 d-none text-center align-items-lg-center" id="user-prototype">
			<div class="tw-flex flex-row justify-content-lg-start justify-content-md-center align-items-center col-lg-4 col-md-12 mb-lg-0 mb-md-3">
				<img src="" class="owner-picture">
				<div class="tw-flex flex-column align-items-start">
					<p class="mb-0 name"><span>XXX XXX</span>
						<i class="fas fa-shipping-fast" title="Livreur"></i>
					</p>
				</div>
			</div>
			<div class="selling-infos col-lg-4 col-md-6 d-lg-flex flex-lg-column align-items-lg-start">
				<div class="tw-flex">
					<strong class="email">XXX</strong>
				</div>
				<div class="tw-flex">
					<a href="" class="nbCommandLink">
						<strong>XXX commandes réalisées</strong>
					</a>
				</div>
				<div class="tw-flex nbCommandsToDeliveryDiv">
					<a href="">
						<strong></strong>
					</a>
				</div>
				<div class="tw-flex">
					<a href="" class="nbMarketLink">
						<strong>XXX offres créées</strong>
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-12 justify-content-center mt-lg-0 mt-md-3">
				<a href="" class="btn btn-seedseller-lime tw-flex tw-mb-2 showLink">
					&nbsp;Voir
				</a>
			</div>
		</div>
		<div id="users">
			{% for user in users %}
				<div class="selling_box row col-lg-12 col-md-5 d-lg-flex text-center align-items-lg-center">
					<div class="tw-flex flex-row justify-content-lg-start justify-content-md-center align-items-center col-lg-4 col-md-12 mb-lg-0 mb-md-3">
						<img src="{{ (user.image is null) ? asset("/uploads/images/profile_pic/default_profile_pic.png") : vich_uploader_asset(user, 'imageFile') }}" class="owner-picture">
						<div class="tw-flex flex-column align-items-start">
							<p class="mb-0">
							<span>{{ user.firstname }} {{ user.lastname }}</span>
							{% if "ROLE_DELIVERY" in user.roles %}
								 <i class="fas fa-shipping-fast" title="Livreur"></i>
							{% endif %}
							</p>
						</div>
					</div>
					<div class="selling-infos col-lg-4 col-md-6 d-lg-flex flex-lg-column align-items-lg-start">
						<div class="tw-flex">
							<strong>{{ user.email }}</strong>
						</div>
						<div class="tw-flex">
							<a href="{{ path('admin_command_index', {'owner': user.id}) }}">
								<strong>{{ user.commands|length }}
									commandes réalisées</strong>
							</a>
						</div>
						{% if 'ROLE_DELIVERY' in user.roles %}
							<div class="tw-flex">
								<a href="{{ path('admin_command_index', {'owner': 0, 'deliveryMan': user.id}) }}">
									<strong>{{ user.commandsToDelivery|length }}
										livraison{{ user.commandsToDelivery|length > 1 ? 's' : '' }}</strong>
								</a>
							</div>
						{% endif %}
						<div class="tw-flex">
							<a href="{{ path('admin_market_index', {'user': user.id, 'seed': 0}) }}">
								<strong>{{ user.markets|length }}
									offres créées</strong>
							</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-12 justify-content-center mt-lg-0 mt-md-3">
						<a href="{{ path('admin_user_show', {id:user.id}) }}" class="btn btn-seedseller-lime tw-flex tw-mb-2">
							&nbsp;Voir
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
