{% extends 'base_back.html.twig' %}

{% block title %}
	Panel admin - Utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	<div class="text-center justify-content-center text-white">
		<div class="d-flex flex-row justify-content-start tw-my-8 tw-ml-4">
			<a href="{{ referer }}" class="btn btn-seedseller-lime">Retour à la liste</a>
		</div>
		<h1 class="tw-my-4">Utilisateur</h1>
		<hr class="delimiter seedseller-lime">
		<div class="row mx-auto d-flex justify-content-around mb-6">
			<img src="{{ (user.image is null) ? asset("/uploads/images/profile_pic/default_profile_pic.png") : vich_uploader_asset(user, 'imageFile') }}" class="tw-h-64 tw-w-64 tw-rounded-full">
			<div class="tw-text-2xl md:tw-mt-16">
				<p class="tw-font-bold">{{ user.firstname }}
					{{ user.lastname }}</p>
				<p>{{ user.email }}</p>
				<a href="{{ path('admin_command_index', {'owner': user.id}) }}" class="link-underline">
					{{ user.commands|length }}
						commandes réalisées
				</a>
				<br/>
				<a href="{{ path('admin_market_index', {'user': user.id, 'seed': 0}) }}" class="link-underline">
					{{ user.markets|length }}
						offres créées
				</a>
				{% if 'ROLE_DELIVERY' in user.roles %}
					<a href="{{ path('admin_user_remove_delivery_role', {'id': user.id}) }}" id="remove_delivery_role" class="btn btn-seedseller-lime tw-flex mt-4">{{ include('back/user/_remove_delivery_role.html.twig') }}</a>
				{% elseif user.request_delivery == 2 %}
					<span class="btn btn-seedseller-lime tw-flex editLink tw-mb-2 mt-3">{{ include('back/delivery/_validate_request_delivery.html.twig') }}</span>
					<span class="btn btn-seedseller-lime tw-flex editLink tw-mb-2">{{ include('back/delivery/_refused_request_delivery.html.twig') }}</span>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
