<form method="post" action="{{ path('admin_refused_request_delivery', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sur de refuser ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('refused_request_delivery' ~ user.id) }}">
    <button class="btn">Refuser demande livreur</i></button>
</form>