<form method="post" action="{{ path('admin_validate_request_delivery', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sur de valider?');">
    <input type="hidden" name="_token" value="{{ csrf_token('validate_request_delivery' ~ user.id) }}">
    <button class="btn">Valider demande livreur</i></button>
</form>