{% extends 'base_back.html.twig' %}

{% block title %}
    Panel admin - Les utilisateurs
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('seed')}}
    {{ encore_entry_link_tags('body-lime')}}
    {{ encore_entry_link_tags('seed_show')}}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dynamicSearchRequestDeliveryman') }}
{% endblock %}

{% block body %}
    <div>
        <h1 class="text-center tw-my-4">Les demandes pour être livreur</h1>
        <hr class="delimiter">
        <div class="selling_box row col-lg-12 col-md-5 d-none text-center align-items-lg-center" id="request-delivery-prototype">
            <div class="tw-flex flex-row justify-content-lg-start justify-content-md-center align-items-center col-lg-4 col-md-12 mb-lg-0 mb-md-3">
                <img src="" class="owner-picture">
                <div class="tw-flex flex-column align-items-start">
                    <p class="mb-0 name">XXX XXX</p>
                </div>
            </div>
            <div class="selling-infos col-lg-4 col-md-6 d-lg-flex flex-lg-column align-items-lg-start">
                <div class="tw-flex">
                    <strong class="email">XXX</strong>
                </div>
                <div class="tw-flex">
                    <strong class="nbCommands">XXX commandes réalisées</strong>
                </div>
                <div class="tw-flex">
                    <a href="" class="nbMarketLink">
                        <strong>XXX offres créées</strong>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 justify-content-center mt-lg-0 mt-md-3">
                <a href="" class="btn btn-seedseller-lime tw-flex editLink">
                    &nbsp;Bannir
                </a>
            </div>
        </div>
        <div id="deliveryman">
            {% for user in users %}
                <div class="selling_box row col-lg-12 col-md-5 d-lg-flex text-center align-items-lg-center">
                    <div class="tw-flex flex-row justify-content-lg-start justify-content-md-center align-items-center col-lg-4 col-md-12 mb-lg-0 mb-md-3">
                        <img src="{{ (user.image is null) ? asset("/uploads/images/profile_pic/default_profile_pic.png") : vich_uploader_asset(user, 'imageFile') }}" class="owner-picture">
                        <div class="tw-flex flex-column align-items-start">
                            <p class="mb-0">{{ user.firstname }}
                                {{ user.lastname }}</p>
                        </div>
                    </div>
                    <div class="selling-infos col-lg-4 col-md-6 d-lg-flex flex-lg-column align-items-lg-start">
                        <div class="tw-flex">
                            <strong>{{ user.email }}</strong>
                        </div>
                        <div class="tw-flex">
                            <strong>{{ user.commands|length }}
                                commandes réalisées</strong>
                        </div>
                        <div class="tw-flex">
                            <a href="{{ path('admin_market_index', {'user': user.id, 'seed': 0}) }}">
                                <strong>{{ user.markets|length }}
                                    offres créées</strong>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 justify-content-center mt-lg-0 mt-md-3">
                        <a href="{{ path('admin_user_show', {id:user.id}) }}" class="btn btn-seedseller-lime tw-flex editLink tw-mb-2">
                            &nbsp;Voir
                        </a>
                        <span class="btn btn-seedseller-lime tw-flex editLink tw-mb-2">{{ include('back/delivery/_validate_request_delivery.html.twig') }}</span>
                        <span class="btn btn-seedseller-lime tw-flex editLink tw-mb-2">{{ include('back/delivery/_refused_request_delivery.html.twig') }}</span>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Aucune demande pour devenir livreur actuellement</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
