{{ form_start(form) }}
<div class="form-div my-2 w-50 mx-auto">
	{{ form_widget(form.name) }}
	<label class="label-name">
		<span class="content-name">Nom de la catégorie</span>
	</label>
</div>


<button class="btn btn-lg btn-seedseller-green my-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
