{% extends 'base_back.html.twig' %}

{% block title %}
	Les catégories
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	<main class="text-center text-white">
		<div class="d-flex flex-row justify-content-end tw-my-8 tw-mr-4">
			<a href="{{ path('admin_category_new') }}" class="btn btn-seedseller-lime">Ajouter une catégorie</a>
		</div>
		<h1 class="mb-5">Catégories</h1>
		<hr class="delimiter bg-white">

		<div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-4 tw-gap-16 tw-mx-16 tw-mb-8">
			{% for category in categories %}
				<div class="card seedseller-lime-text seedseller-brown border">
					<div class="card-body">
						<p>{{ category.name }}</p>
						<div class="d-flex flex-row justify-content-center align-items-center mt-3">
							<a href="{{ path('admin_category_edit', {'id': category.id}) }}">
								<i class="fas fa-pencil-alt"></i>
							</a>
							{#  {{ include('back/category/_delete_form.html.twig') }} #}
						</div>
					</div>
				</div>
			{% else %}
				<p>Aucune catégories n'a été trouvée</p>
			{% endfor %}
		</div>
	</main>
{% endblock %}
