{% extends 'base_back.html.twig' %}

{% block title %}
	Nouvelle catégorie
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
	{{ encore_entry_link_tags('form')}}
{% endblock %}

{% block body %}
	<main class="text-center text-white">
		<div class="d-flex flex-row justify-content-start tw-mt-8 tw-ml-4">
			<a href="{{ path('admin_category_index') }}" class="btn btn-seedseller-lime">Retour à la liste</a>
		</div>
		<h1 class="mb-5">Créer une nouvelle catégorie</h1>
		<hr class="delimiter bg-white">

		{{ include('back/category/_form.html.twig') }}
	</main>
{% endblock %}
