{% extends 'base_back.html.twig' %}

{% block title %}Visionner catégorie{% endblock %}

{% block body %}
    <h1>Visionner catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
                <th>Parent</th>
                <td>
                    {% if category.parent is not null %}
                        <a target="_blank" href="{{ path('admin_category_show', {'id': category.parent.id}) }}">{{ category.parent.name }}</a>
                    {% else %}
                        Aucun parent
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_category_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">Editer</a>

    {{ include('back/category/_delete_form.html.twig') }}
{% endblock %}
