{% extends 'base_back.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-green')}}
{% endblock %}

{% block body %}
	<main class="text-center text-white">
		<h1 class="my-5">Panneau d'administration</h1>
		<hr class="delimiter bg-white">
		<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-16 tw-mx-16 tw-mb-8">
            <a href="{{ path('admin_category_index') }}">
                <div class="card seedseller-lime-text seedseller-brown tw-border-8 tw-p-8 tw-border-yellow-400 tw-rounded-full">
                    <i class="fas fa-list-ul fa-7x"></i>
                    <p>Catégories</p>
                </div>
            </a>
            <a href="{{ path('admin_seed_index') }}">
                <div class="card seedseller-lime-text seedseller-brown tw-border-8 tw-p-8 tw-border-yellow-400 tw-rounded-full">
                <i class="fas fa-seedling fa-7x"></i>
                    <p>Graines</p>
                </div>
            </a>
            <a href="{{ path('admin_market_index') }}">
                <div class="card seedseller-lime-text seedseller-brown tw-border-8 tw-p-8 tw-border-yellow-400 tw-rounded-full">
                <i class="fas fa-sack-dollar fa-7x"></i>
                    <p>Offres</p>
                </div>
            </a>
            <a href="{{ path('admin_user_index') }}">
                <div class="card seedseller-lime-text seedseller-brown tw-border-8 tw-p-8 tw-border-yellow-400 tw-rounded-full">
                <i class="fas fa-users fa-7x"></i>
                    <p>Utilisateurs</p>
                </div>
            </a>
            <a href="{{ path('admin_delivery') }}">
                <div class="card seedseller-lime-text seedseller-brown tw-border-8 tw-p-8 tw-border-yellow-400 tw-rounded-full">
                    <i class="fas fa-shipping-fast fa-7x"></i>
                    <p>Demande livreur</p>
                </div>
            </a>
            <a href="{{ path('admin_command_index') }}">
                <div class="card seedseller-lime-text seedseller-brown tw-border-8 tw-p-8 tw-border-yellow-400 tw-rounded-full">
                    <i class="fas fa-shopping-basket fa-7x"></i>
                    <p>Commandes</p>
                </div>
            </a>
        </div>
	</main>
{% endblock %}
