{% extends 'base_front.html.twig' %}

{% block title %}Compté créé{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
    <div class="w-auto h-100 text-center text-white tw-mt-32">
        <h1 class="my-3">Votre compté a été créé avec succès !</h1>
        <h3>Veuillez confirmer votre adresse mail avec le mail qui vous a été envoyé</h3>
        <div class="mt-5">
            <i class="far fa-envelope fa-9x"></i>
        </div>
    </div>
{% endblock %}