{% extends 'base_front.html.twig' %}

{% block title %}{{ success ? "Confirmation réussie!" : "Lien incorrect ou déjà validé!" }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('body-lime')}}
{% endblock %}

{% block body %}
    <div class="w-auto h-100 text-center text-white tw-mt-32">
        <h1 style="color: {{ success ? 'green' : 'red' }}">{{ success ? "Confirmation réussie !" : "Lien incorrect ou déjà validé !" }}</h1>
        <div class="my-5">
            {% if success %}
                <i class="far fa-check-circle fa-9x" style="color:green;"></i>
            {% else %}
                <i class="far fa-times-circle fa-9x" style="color:red;"></i>
            {% endif %}
        </div>
        <a href="{{ success ? path('app_login') : path('default_index') }}" class="btn btn-rounded btn-seedseller-green p-2">
            {{ success ? "Connectez vous" : "Page d'accueil" }}
        </a>
    </div>
{% endblock %}