{% extends 'base_front.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	<div class="w-auto h-100 text-center text-white">
		<form method="post" class="form-group">
			{% if error %}
				<div class="alert alert-danger">Pas si vite ;) Votre mot de passe ou votre email semble erroné.</div>
			{% endif %}

			{% if app.user %}
				Impossible de tomber ici, du fait d'avoir une redirection au sein du controller security:login
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal my-5 text-bold">Se connecter</h1>
			<hr class="delimiter bg-white">
			<div class="form-group mx-auto my-5 tw-w-11/12 md:tw-w-7/12">
				<label for="inputEmail" class="mb-3">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
			</div>
			<div class="form-group mx-auto my-5 tw-w-11/12 md:tw-w-7/12">
				<label for="inputPassword" class="mb-3">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="tw-grid lg:tw-mx-96 md:tw-mx-60 tw-mx-0 tw-gap-4 md:tw-gap-16 tw-grid-cols md:tw-grid-cols-2">
				<button class="btn btn-lg btn-seedseller-lime">
					<a href="{{ path('reset_password') }}">
						Mot de passe oublié
					</a>
				</button>
				<button class="btn btn-lg btn-seedseller-green" type="submit">
					Connexion
				</button>
			</div>
		</form>
	</div>
{% endblock %}
