{% extends 'base_front.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form')}}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
<main class="text-center text-white w-100">

    {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}

    {% if formErrors|length %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in formErrors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h1 class="my-5">Inscription</h1>
    <hr class="delimiter bg-white">
    <div class="form my-4 mx-auto">
    {{ form_start(registrationForm,  { 'attr': {'autocomplete': 'off'} }) }}
        <div class="form-div my-2 w-75 mx-auto">
            {{ form_widget(registrationForm.email) }}
            <label class="label-name">
                <span class="content-name">Email</span>
            </label>
        </div>
        <div class="form-div my-2 w-75 mx-auto">
            {{ form_widget(registrationForm.firstname) }}
            <label class="label-name">
                <span class="content-name">Prénom</span>
            </label>
        </div>
        <div class="form-div my-2 w-75 mx-auto">
            {{ form_widget(registrationForm.lastname) }}
            <label class="label-name">
                <span class="content-name">Nom</span>
            </label>
        </div>
        <div class="form-div my-2 w-75 mx-auto">
            {{ form_widget(registrationForm.password) }}
            <label class="label-name">
                <span class="content-name">Mot de passe (doit faire au moins 6 caracères, avec une majuscule, une minuscule, un chiffre et un caractère spécial)</span>
            </label>
        </div>
        <div class="form-div my-2 w-75 mx-auto">
            {{ form_widget(registrationForm.confirm_password) }}
            <label class="label-name">
                <span class="content-name">Confirmation du mot de passe</span>
            </label>
        </div>
        <div class="mb-2 mt-4 w-75 mx-auto tw-text-left">
            <label>Photo de profil</label>
            {{ form_widget(registrationForm.imageFile) }}
        </div>
        <button type="submit" class="btn btn-lg btn-seedseller-green my-3">Valider</button>
    {{ form_end(registrationForm) }}
    </div>
</main>
{% endblock %}
