{% extends 'base_front.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form')}}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
<main class="text-center text-white w-100">
    <h1 class="my-5">Mot de passe oublié</h1>
    <hr class="delimiter bg-white">
    <div class="form my-4 text-center mx-auto">
    {{ form_start(resetPasswordForm) }}
        <div class="form-div my-2 w-50 mx-auto">
            {{ form_widget(resetPasswordForm.email) }}
            <label class="label-name">
                <span class="content-name">Entrez votre mail</span>
            </label>
        </div>
        <button type="submit" class="btn btn-lg btn-seedseller-green my-3">Valider</button>
    {{ form_end(resetPasswordForm) }}
    </div>
</main>
{% endblock %}
