{{ form_start(form) }}
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.name) }}
    <label class="label-name">
        <span class="content-name">Nom de la graine</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.imageFile) }}
    <label class="label-name">
        <span class="content-name">Image de la graine</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.measurementUnit) }}
    <label class="label-name">
        <span class="content-name">Unité de mesure</span>
    </label>
</div>
<div class="form-div w-50 mb-0 tw-text-left mx-auto mt-4">
    <span class="seedseller-lime-text">
        Catégorie
    </span>
    {{ form_widget(form.category, {'attr': {'class': 'col-12'}}) }}
</div>
<div class="form-div my-2 w-50 mx-auto tw-text-left">
    <span class="seedseller-lime-text">
        Description
    </span>
    {{ form_widget(form.description) }}
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.lifting) }}
    <label class="label-name">
        <span class="content-name">Levée</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.numberSeedsPerGram) }}
    <label class="label-name">
        <span class="content-name">nombre de graines / gr</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.plantingDensity) }}
    <label class="label-name">
        <span class="content-name">Densité de plantation</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.sowingdate) }}
    <label class="label-name">
        <span class="content-name">Date de semis</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.harvestdate) }}
    <label class="label-name">
        <span class="content-name">Date de récolte</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto tw-text-left">
    <span class="seedseller-lime-text">
        Pratique culturale
    </span>
    {{ form_widget(form.cultivationPractice) }}
</div>
<div class="form-div my-2 w-50 mx-auto">
    {{ form_widget(form.diseasesAndMainPests) }}
    <label class="label-name">
        <span class="content-name">Maladies et principaux ravageurs</span>
    </label>
</div>
<div class="form-div my-2 w-50 mx-auto tw-text-left">
    <span class="seedseller-lime-text">
        Informations supplémentaires
    </span>
    {{ form_widget(form.additionalInformation) }}
</div>
    <button class="btn btn-lg btn-seedseller-green my-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
