{% extends 'base_back.html.twig' %}

{% block title %}
	Editer une graine
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
	{{ encore_entry_link_tags('form')}}
{% endblock %}

{% block body %}
	<main class="text-center text-white">
		<div class="d-flex flex-row justify-content-start tw-my-8 tw-ml-4">
			<a href="{{ path(backoffice ? 'admin_seed_index' : 'seed_index') }}" class="btn btn-seedseller-lime">Retour à la liste</a>
		</div>
		<h1 class="mb-5">Editer une graine</h1>
		<hr class="delimiter bg-white">

		{{ include('back/seed/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	</main>
{% endblock %}
