{% extends 'base_back.html.twig' %}

{% block title %}
	Panel admin - Les graines
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('seed')}}
	{{ encore_entry_link_tags('form')}}
	{{ encore_entry_link_tags('cards') }}
{% endblock %}

{% block body %}

	{{ include('seed/index.html.twig') }}

{% endblock %}

{% block javascripts %}
	<script>
		let backoffice = true;
	</script>
	{{ encore_entry_script_tags('displaySidebar') }}
	{{ encore_entry_script_tags('dynamicSearchSeedsAdmin') }}
{% endblock %}
