<!DOCTYPE html>

<title>New Category</title>

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">back to list</a>
{% endblock %}
