$lime: #cad526;
$brown: #432918;

.custom-card {
  margin: 10px;
  width: 285px;
  background-color: $brown;
  color: $lime;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);

  &-head {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  &-head img {
    width: 100%;
    height: 125px;
    display: block;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  .details {
    padding: 20px 10px;
  }

  .details > h3 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .details > p {
    opacity: 0.4;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
  }
}

.custom-horizontal-card {
  width: 450px;
  height: 250px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  background-color: $lime;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);

  & .left-content {
    border-radius: 50px 0px 0px 50px;
    width: 45%;
    height: 100%;
    background-color: $brown;
    color: $lime;
    box-shadow: 0 0 10px $brown;

    & .thumbnail {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: relative;
      right: -20%;
      top: 10%;
      border: solid 10px $brown;
      box-shadow: 0 0 10px $brown;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  & .right-content {
    width: 55%;
    position: relative;
    float: right;
    height: 100%;
    color: $brown;
  }

  @media only screen and (min-width: 600px) {
    & .left-content {
      width: 35%;

      & .thumbnail {
        right: -66%;
      }
    }

    & .right-content {
      width: 65%;
    }
  }

}