#form_box {
    background-color: #432918;
    color: #FFFFFF;
    padding: 20px 0px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 14px 28px rgba(66,40,24,0.25), 0 10px 10px rgba(66,40,24,0.22);
}

.navigation {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.cta-button,.cta-button:focus,.cta-button:hover {
    background-color: #CAD526;
    border: 1px solid #CAD526;
}

.cta-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cta-button > svg {
    height: 15px;
}

.rounded-image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.custom-link, .custom-link:hover {
    text-decoration: none;
    color: #CAD526;
}

.custom-link img {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}