.form-div {
  width: 100%;
  position: relative;
  height: 80px;
  overflow: hidden;
}


.form-div input {
  width: 100%;
  padding-top: 40px;
  border: none;
  background-color: #432918;
  color: #ffffff;
  outline: black;
}

.form-div input:focus,
.form-div input:-webkit-autofill,
.form-div input:-webkit-autofill:hover,
.form-div input:-webkit-autofill:active,
.form-div input:-webkit-autofill:focus {
  background-color: #432918;
  color: #ffffff;
  outline: none;
}

.form-div label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #cad526;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-div input:focus + .label-name .content-name,
.form-div input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #cad526;
}

.form-div input:focus + .label-name::after,
.form-div input:valid + .label-name::after {
  transform: translateX(0%);
}

.form-div select {
  background-color: #432918;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #cad526;
  outline: none;
}

.form-div textarea {
  width: 100%;
  background-color: #432918;
  border: 2px solid #FFFFFF;
  outline: none;
  padding: 2px;
}

.form-div textarea:focus,
.form-div textarea:valid {
  border: 2px solid #cad526;
}

.form-div textarea:focus + label {
  font-size: 14px;
  color: #cad526;
}

/*
.custom-control-input:checked {
  background-color: #cad526;
}

.custom-control-input:focus,
.custom-control-input:not(:focus) {
  border: none;
  box-shadow: none;
}

.custom-control-input:not(:checked) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}*/

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #ffffff;
  height: 1px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #cad526;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type='radio'] {
  &:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #cad526;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #cad526;
  }

  &:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #432918;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #cad526;
  }
}