@import "~bootstrap/scss/bootstrap";

$lime: #cad526;
$green: #49ad38;
$brown: #432918;

body {
  font-family: "Rubik", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

h1 {
  font-size: 3rem !important;
  line-height: 1;
}

h2 {
  font-size: 2.25rem !important;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem !important;
  line-height: 2.25rem;
}

.container-fluid {
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

/* Navbar */
nav {
  z-index: 100;
}
nav ul li a {
  color: $brown !important;
}

/* Line Around a Title*/
.has-line-around {
  display: flex;
  flex-direction: row;
  &::before,
  &::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000;
    margin: auto;
  }
  &::before {
    margin-right: 10px;
  }
  &::after {
    margin-left: 10px;
  }
}

.div-center {
  padding-left: 25% !important;
  padding-right: 25% !important;
}

.icon {
  width: 16px;
  height: 16px;
}

.icon-l {
  width: 24px;
  height: 24px;
}
.icon-xl {
  width: 32px;
  height: 32px;
}

/* Home Images */
.home-image-1 {
  z-index: 2;
  position: relative;
  height: 18rem;
  width: 25rem;
}
.home-image-2 {
  z-index: 5;
  position: absolute;
  margin-left: -20rem;
  margin-top: 10rem;
  height: 12rem;
  width: 18rem;
}

.text-bold {
  font-weight: bold !important;
}

.delimiter {
  background-color: $brown;
  opacity: 1;
  height: 1px !important;
  width: 20%;
  margin: 20px auto 50px;
}

/* SeedSeller Lime Background */
.seedseller-lime {
  background-color: $lime !important;
}

/* SeedSeller Lime Text */
.seedseller-lime-text {
  color: $lime !important;
}

/* SeedSeller Green Background */
.seedseller-green {
  background-color: $green !important;
}

/* SeedSeller Green Text */
.seedseller-green-text {
  color: $green !important;
}
/* SeedSeller Brown Background */
.seedseller-brown {
  background-color: $brown !important;
}

/* SeedSeller Brown Text */
.seedseller-brown-text {
  color: $brown !important;
}

/* SeedSeller Button */
.btn-seedseller-lime {
  color: $brown;
  background-color: $lime;
  border-color: $lime;
  &:hover {
    color: $brown;
    background-color: $lime;
    border-color: $lime;
    opacity: 0.6;
  }
}

.btn-seedseller-green {
  color: #fff;
  background-color: $green;
  border-color: $green;
  &:hover {
    color: #fff;
    background-color: $green;
    border-color: $green;
    opacity: 0.6;
  }
}
.btn-seedseller-brown {
  color: #fff;
  background-color: $brown;
  border-color: $brown;
  &:hover {
    color: $lime;
    background-color: $brown;
    border-color: $brown;
    opacity: 0.6;
  }
}

.btn-rounded {
  border-radius: 15px;
}

/* SeedSeller Border */
.border-seedseller-lime {
  border-color: $lime !important;
}

.border-seedseller-green {
  border-color: $green !important;
}

.border-seedseller-brown {
  border-color: $brown !important;
}

@for $i from 1 through 4 {
  .lighten-#{$i} {
    opacity: (1 - 2 * ($i * 0.1)) !important;
  }
}

#section1 {
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  background-color: #cad526;
  color: #432918;
  padding: 125px 0 250px 0;
  text-align: justify;
}

.link-underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 0 1px;
  transition: color ease 0.3s;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #cad526;
    z-index: -1;
    height: 5%;
  }

  &::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
  }

  &::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
  }

  &:hover {
    color: #cad526;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover::after {
    left: 100%;
    width: 0%;
    transition: all ease 0.2s;
  }
}

// Number on Icon Cart
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #c67605;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: -15px; 
    margin-top: -5px; 
}