.navigation {
    width: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

#more-infos {
    color: #432918;
    text-decoration: none;
}

#more-infos svg {
    margin-right: 3px;
    padding-bottom: 2px;
}

#more-infos:hover {
    text-decoration: underline;
}

#presentation_box {
    background-color: #FFFFFF;
    padding: 20px 0px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 14px 28px rgba(66,40,24,0.25), 0 10px 10px rgba(66,40,24,0.22);
}

#seed_infos, #market_search_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    font-size: 18px;
}

#seed_picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#seed_name {
    margin-top: 20px;
}

#seed_infos p {
    font-size: 20px;
}

.selling_box {
    background-color: #432918;
    color: #FFFFFF;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.owner-picture {
    width: 40px;
    height: 40px;
    border: 1px solid #CAD526;
    border-radius: 50%;
    margin: 0px 20px;
}