<head>
	<title>
		{% block title %}
			Page d'erreur 404
		{% endblock %}
	</title>

	{% block stylesheets %}
		{{ encore_entry_link_tags('error')}}
		<link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	{% endblock %}
</head>
<body>
	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops! La page n'a pas été trouvée</h2>
			<a href="{{ path('default_index') }}">Retour à l'accueil</a>
		</div>
	</div>
</body>
