body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

.container-fluid {
  padding: 0 !important;
}

/* Navbar */
nav{
  z-index:100;
}
nav ul li a,
i {
  color: #432918 !important;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 50;
}

footer a {
  color: white;
}

/* Line Around a Title*/
.has-line-around {
  display: flex;
  flex-direction: row;
}
.has-line-around:before,
.has-line-around:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}
.has-line-around:before {
  margin-right: 10px;
}
.has-line-around:after {
  margin-left: 10px;
}

.div-center{
  padding-left: 25% !important;
  padding-right: 25% !important;
}

.icon {
  width: 16px;
  height: 16px;
}

.icon-l {
  width: 24px;
  height: 24px;
}
.icon-xl {
  width: 32px;
  height: 32px;
}

/* Home Images */
.home-image-1{
  z-index: 2;
  position: relative;
  height: 18rem;
  width: 25rem;
}
.home-image-2{
  z-index: 5;
  position: absolute;
  margin-left: -8rem;
  margin-top: 10rem;
  height: 12rem;
  width: 18rem;
}

.text-bold {
  font-weight: bold !important;
}

.delimiter {
  background-color: #432918;
  opacity: 1;
  height: 1px !important;
  width: 20%;
  margin: 20px auto 50px;
}

.custom-card {
  margin: 10px;
  width: 285px;
  background-color: #432918;
  color: #cad526;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,.18);
}

.custom-card .custom-card-head {
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}

.custom-card .custom-card-head img {
  width: 100%;
  height: 125px;
  display: block;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.custom-card .details {
  padding: 20px 10px;
}

.custom-card .details>h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
}

.custom-card .details>p {
  opacity: .4;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}