.form-div {
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form-div input {
    padding-top: 20px;
    border: none;
    background-color: #432918;
    color: #FFFFFF;
    outline: black;
    width: inherit;
}

.form-div input:focus {
    background-color: #432918;
    color: #FFFFFF;
    outline: none;
}

.form-div label {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
}

.form-div label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #CAD526;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form-div input:focus + .label-name .content-name,
.form-div input:valid + .label-name .content-name{
    transform: translateY(-120%);
    font-size: 14px;
    color: #CAD526;
}

.form-div input:focus + .label-name::after,
.form-div input:valid + .label-name::after {
    transform: translateX(0%);
}

.form-div select {
    background-color: #432918;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #CAD526;
    outline: none;
}

.form-check-input:checked {
    background-color: #CAD526;
}

.form-check-input:focus,
.form-check-input:not(:focus){
    border: none;
    box-shadow: none;
}

.form-check-input:not(:checked) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    height: 1px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #CAD526;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}