#section1 {
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    background-color: #cad526;
    color: #432918;
    padding: 125px 0 250px 0;
    text-align: justify;
}

h3 {
    font-size: 20px;
}