/* SeedSeller Lime Background */
.seedseller-lime {
  background-color: #cad526 !important;
}
.seedseller-lime.lighten-1 {
  background-color: #cad526 !important;
  opacity: 0.8;
}
.seedseller-lime.lighten-2 {
  background-color: #cad526 !important;
  opacity: 0.6;
}
.seedseller-lime.lighten-3 {
  background-color: #cad526 !important;
  opacity: 0.4;
}
.seedseller-lime.lighten-4 {
  background-color: #cad526 !important;
  opacity: 0.2;
}

/* SeedSeller Lime Text */
.seedseller-lime-text {
  color: #cad526 !important;
}
.seedseller-lime-text.lighten-1 {
  color: #cad526 !important;
  opacity: 0.8;
}
.seedseller-lime-text.lighten-2 {
  color: #cad526 !important;
  opacity: 0.6;
}
.seedseller-lime-text.lighten-3 {
  color: #cad526 !important;
  opacity: 0.4;
}
.seedseller-lime-text.lighten-4 {
  color: #cad526 !important;
  opacity: 0.2;
}

/* SeedSeller Green Background */
.seedseller-green {
  background-color: #49ad38 !important;
}
.seedseller-green.lighten-1 {
  background-color: #49ad38 !important;
  opacity: 0.8;
}
.seedseller-green.lighten-2 {
  background-color: #49ad38 !important;
  opacity: 0.6;
}
.seedseller-green.lighten-3 {
  background-color: #49ad38 !important;
  opacity: 0.4;
}
.seedseller-green.lighten-4 {
  background-color: #49ad38 !important;
  opacity: 0.2;
}

/* SeedSeller Green Text */
.seedseller-green-text {
  color: #49ad38 !important;
}
.seedseller-green-text.lighten-1 {
  color: #49ad38 !important;
  opacity: 0.8;
}
.seedseller-green-text.lighten-2 {
  color: #49ad38 !important;
  opacity: 0.6;
}
.seedseller-green-text.lighten-3 {
  color: #49ad38 !important;
  opacity: 0.4;
}
.seedseller-green-text.lighten-4 {
  color: #49ad38 !important;
  opacity: 0.2;
}

/* SeedSeller Brown Background */
.seedseller-brown {
  background-color: #432918 !important;
}
.seedseller-brown.lighten-1 {
  background-color: #432918 !important;
  opacity: 0.8;
}
.seedseller-brown.lighten-2 {
  background-color: #432918 !important;
  opacity: 0.6;
}
.seedseller-brown.lighten-3 {
  background-color: #432918 !important;
  opacity: 0.4;
}
.seedseller-brown.lighten-4 {
  background-color: #432918 !important;
  opacity: 0.2;
}

/* SeedSeller Brown Background */
.seedseller-brown-text {
  color: #432918 !important;
}
.seedseller-brown-text.lighten-1 {
  color: #432918 !important;
  opacity: 0.8;
}
.seedseller-brown-text.lighten-2 {
  color: #432918 !important;
  opacity: 0.6;
}
.seedseller-brown-text.lighten-3 {
  color: #432918 !important;
  opacity: 0.4;
}
.seedseller-brown-text.lighten-4 {
  color: #432918 !important;
  opacity: 0.2;
}

/* SeedSeller Button */
.btn-seedseller-lime {
  color: #432918;
  background-color: #cad526;
  border-color: #cad526;
}

.btn-seedseller-lime:hover {
  color: #432918;
  background-color: #cad526;
  border-color: #cad526;
  opacity: 0.6;
}

.btn-seedseller-green {
  color: #fff;
  background-color: #49ad38;
  border-color: #49ad38;
}

.btn-seedseller-green:hover {
  color: #fff;
  background-color: #49ad38;
  border-color: #49ad38;
  opacity: 0.6;
}

.btn-seedseller-brown {
  color: #fff;
  background-color: #432918;
  border-color: #432918;
}

.btn-seedseller-brown:hover {
  color: #fff;
  background-color: #432918;
  border-color: #432918;
  opacity: 0.6;
}

.btn-rounded {
  border-radius: 15px;
}

/* SeedSeller Border */
.border-seedseller-lime {
  border-color: #cad526 !important;
}

.border-seedseller-green {
  border-color: #49ad38 !important;
}

.border-seedseller-brown {
  border-color: #432918 !important;
}