.form-control,
.form-control:focus {
  border: 1px solid #432918;
  color: #432918;
}

.form-control:focus {
  box-shadow: 0 1px 1px rgba(66, 40, 24, 0.075) inset,
    0 0 8px rgba(66, 40, 24, 0.5);
}

.sidebar {
  min-height: 90%;
  width: 0;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  color: #432918;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sidebar a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-content h2 {
  margin-bottom: 20px !important;
}

.arrow {
  border: solid #432918;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#sidebar-arrow {
  position: absolute;
  top: 100px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #cad526;
  border-radius: 5px;
}

.container-checkbox:hover input ~ .checkmark {
  background-color: #cad526;
}

.container-checkbox input:checked ~ .checkmark {
  background-color: #cad526;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container-checkbox .checkmark:after {
  left: 4px;
  top: 0;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#search {
  width: 400px;
}

@media screen and(max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
