<form method="post" action="{{ path('cart_delete', {'id': itemCommand.id}) }}" onsubmit="return confirm('Êtes vous sûre de vouloir supprimer cet élément de votre panier?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itemCommand.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i> </button>
</form>
