{%
    set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params'))
%}
{% if app.user.addresses|length > 0 %}
    {{ form_start(form, {
        'attr': {
            'class': 'col-lg-4 col-md-8'
        }
    }) }}

    <div class="d-flex flex-column align-items-center">
        <div class="form-div d-flex justify-content-center tw-text-center mt-5">
                <div class="seedseller-lime-text">
                    Adresse
                    {{
                    form_widget(form.address, {
                        'attr': {
                            'class': 'col-12'
                        }
                    })
                    }}
                </div>

        </div>
        <a class="custom-link mt-2 tw-flex" href="{{ path('addresses_new', {redirectTo: currentPath}) }}">
            <i class="far fa-plus-circle mr-1"></i>
            Ajouter une nouvelle adresse
        </a>
    </div>

    <div class="col-12 d-flex justify-content-center mt-5">
        <button class="btn btn-success">{{ button_label|default('Valider votre panier') }}</button>
    </div>
    {{ form_end(form) }}
{% else %}        
    <div class="d-flex flex-column align-items-center">
        <div class="form-div d-flex justify-content-center tw-text-center mt-5">
            <p>Vous n'avez pas encore d'adresse actuellement</p>
        </div>
        <a class="custom-link mt-2 tw-flex" href="{{ path('addresses_new', {redirectTo: currentPath}) }}">
            <i class="far fa-plus-circle mr-1"></i>
            Ajouter une nouvelle adresse
        </a>
    </div>
{% endif %}