{%
    set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params'))
%}

{{ form_start(form, {
    'attr': {
        'class': 'col-lg-4 col-md-8'
    }
}) }}

    {% if market.canSeparate %}
        {{
            form_widget(form.quantity, {
                'attr': {
                    'class': defaultQuantity < quantity ? 'col-12' : 'd-none',
                    'min': defaultQuantity,
                    'max': quantity,
                    'step': step,
                    'value': valueQuantity
                }
            })
        }}
    {% else %}
        {{
        form_widget(form.quantity, {
            'attr': {
                'class': 'col-12 d-none',
                'min': defaultQuantity,
                'max': quantity,
                'step': step,
                'value': quantity,
                'disabled': 'disabled'
            }
        })
        }}
    {% endif %}

    <div class="col-12 d-flex justify-content-center mt-5">
        <button class="btn btn-success">{{ button_label|default(new ? 'Ajouter au panier' : 'Modifier') }}</button>
    </div>
{{ form_end(form) }}
