{% extends 'base_front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block title %}Confirmation de votre achat
{% endblock %}

{% block body %}
    <main class="text-white text-center">
        <h1 class="my-5">Merci pour votre achat</h1>
        <hr class="delimiter bg-white">
        <div class="my-5">
            <i class="fas fa-shipping-fast fa-9x"></i>
        </div>
        <p> 
            Votre achat de graines a bien été validé. Nous vous remercions de votre fidélité à Seedseller.
        </p>
        <p class="mb-3">
            Vous pouvez retrouver votre commande ici : 
        </p>
        <a class="btn btn-seedseller-lime" href="{{ path('command_index') }}">Mes commandes</a>
    </main>
{% endblock %}