{% extends 'base_front.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}

	<main class="text-white text-center">
		<h1 class="my-5">Mon panier</h1>
		<hr class="delimiter bg-white">
		{% if cart is not null and cart.commandItems|length > 0 %}
			<div class="row mx-5">
				<div class="col-12">
					<div class="table-responsive">
						<table class="table text-white">
							<thead>
								<tr>
									<th scope="col">Image</th>
									<th scope="col">Produit</th>
									<th scope="col" class="text-center">Quantité</th>
									<th class="tw-w-20"></th>
									<th scope="col" class="text-right">Prix</th>
								</tr>
							</thead>
							<tbody>
								{% include 'front/command/items_list.html.twig' with {'command': cart} %}
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td class="text-right">Sous-Total</td>
									<td class="text-right">{{ cart.totalPrice }}
										€</td>
								</tr>
								<tr>
									<td class="border-0"></td>
									<td class="border-0"></td>
                                    <td class="border-0"></td>
									<td class="text-right">Livraison</td>
									<td class="text-right">0 €</td>
								</tr>
								<tr>
									<td class="border-0"></td>
									<td class="border-0"></td>
									<td class="border-0"></td>
									<td class="text-right">
										<strong>Total</strong>
									</td>
									<td class="text-right">
										<strong>{{ cart.totalPrice }}
											€</strong>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col mb-2">
					<div class="row">
						<div class="col-sm-12  col-md-6">
							<a class="btn btn-block btn-light" href="{{ path('seed_index')}}">Continuer à acheter</a>
						</div>
						<div class="col-sm-12 col-md-6 text-right">
							<a class="btn btn-lg btn-block btn-success text-uppercase" href="{{ path('cart_valid') }}">Valider</a>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<p class="tw-mx-auto">C'est vide ici, rendez-vous dans la boutique pour remplir votre panier</p>
			<i class="fas fa-sad-tear fa-9x mx-auto mt-3"></i>
			<div>
				<a class="btn btn-seedseller-lime mt-3" href="{{ path('seed_index') }}">Boutique</a>
			</div>
		{% endif %}
	</main>
{% endblock %}
