{% extends 'base_front.html.twig' %}

{% block title %}{% if new %}Acheter « {{ market.seed.name }} »{% else %}Modifier achat{% endif %}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('form')}}
	{{ encore_entry_link_tags('body-lime')}}
	{{ encore_entry_link_tags('command_new')}}
{% endblock %}

{% block body %}
    <div id="form_box">
        <div class="navigation">
            <a href="{{ new ? path('seed_show', {'id': market.seed.id}) : path('cart_index') }}" class="btn btn-seedseller-lime tw-flex">
                <i class="fas fa-arrow-alt-left mr-1"></i>
                &nbsp;{% if new %}
                    Retour aux offres
                 {% else %}
                    Retour au panier
                 {% endif %}
            </a>
        </div>

        <div class="row col-12">
            <img class="rounded-image m-auto" src="{{ asset(market.seed.image is not null ? '/uploads/images/seed_pic/' ~ market.seed.image : '/uploads/images/seed_pic/default_seed_pic.jpeg') }}" alt="">
        </div>

        <h1 class="m-3">{{ new ? "Acheter" : "Modifier" }} « {{ market.seed.name }} »</h1>

        <div class="row d-flex justify-content-between col-6">
            <div class="col-lg-6 col-md-12 justify-content-md-center"><strong class="seedseller-lime-text">Fournisseur:</strong> {{ market.owner.firstname }} {{ market.owner.lastname }}</div>
        </div>

        <div class="row col-8 m-5">
            <div class="col-lg-6 col-md-12 d-flex flex-column align-items-center">
                <h3 class="seedseller-lime-text">Quantité</h3>
                <div>
                    <strong class="value" data-quantity="{{ valueQuantity }}">{{ valueQuantity }}</strong>
                    {{ market.seed.measurementUnit }}
                </div>
            </div>

            <div class="col-lg-6 col-md-12 d-flex flex-column align-items-center">
                <h3 class="seedseller-lime-text">Prix</h3>
                <div>
                    <strong class="price" data-price="{{ market.price }}">{{ (market.price * valueQuantity)|number_format(2) }}</strong>€
                </div>
            </div>
        </div>

        {{ include('front/cart/_form_item.html.twig') }}

    </div>
    {% set formErrors = form.vars.errors.form.getErrors(true) %}

    {# If there are errors in the form, display them in this unorganized list #}
    {% if formErrors|length %}
        <div class="alert alert-danger text-center" role="alert">
            <ul>
                {% for error in formErrors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dynamicCommandPrice') }}
{% endblock %}
