{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('pk_test_51H1Z9XA4txFW05KBDkgEF4GHU7CVAovpIFXeGSex5F97uDlLtDxkhc7SSdxNJ6Au6jvxpS9vfpRp38NG4Kpb5Ldh00URrLJGQx');
        stripe.redirectToCheckout({ sessionId: '{{ sessionId }}' });
    </script>
{% endblock %}