{% extends 'base_front.html.twig' %}

{% block title %}Valider votre panier{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('form')}}
	{{ encore_entry_link_tags('body-lime')}}
	{{ encore_entry_link_tags('command_new')}}
{% endblock %}

{% block body %}
    <div id="form_box">
        <div class="navigation">
            <a href="{{ path('cart_index') }}" class="btn btn-seedseller-lime tw-flex">
                <i class="fas fa-arrow-alt-left mr-1"></i>
                &nbsp;Retour au panier
            </a>
        </div>

        <h1 class="m-3">Valider votre panier</h1>

        {{ include('front/cart/_form_cart.html.twig') }}

    </div>
    {% set formErrors = form.vars.errors.form.getErrors(true) %}

    {# If there are errors in the form, display them in this unorganized list #}
    {% if formErrors|length %}
        <div class="alert alert-danger text-center" role="alert">
            <ul>
                {% for error in formErrors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
