<form method="post" action="{{ path('admin_seed_suggestion_delete', {'id': seed_suggestion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seed_suggestion.id) }}">
    <button class="btn"><i class="fas fa-trash-alt fa-2x text-white"></i></button>
</form>
