<div class="col-lg-6 col-md-10 tw-flex tx-flex-col tw-items-center mx-auto">
    {{ form_start(form, { 'attr': { 'class': 'w-100' }}) }}
    <div class="form-div my-2 mx-auto">
        {{ form_widget(form.seedName) }}
        <label class="label-name">
            <span class="content-name">Graine</span>
        </label>
    </div>
    <div class="mb-2 mt-4 tw-text-left">
        <label>Image de la graine</label>
        {{ form_widget(form.imageFile) }}
    </div>
    <div class="form-div mb-0 tw-text-left mx-auto mt-4">
        Catégorie
        {{ form_widget(form.categoryName, {'attr': {'class': 'col-12'}}) }}
    </div>
    <div class="form-div mb-0 tw-text-left mx-auto mt-4">
        Unité de mesure
        {{ form_widget(form.measurementUnit, {'attr': {'class': 'col-12'}}) }}
    </div>
    <div class="form-div my-2 mx-auto tw-text-left seedseller-lime-text">
        Description
        {{ form_widget(form.description, { 'attr': { 'class': 'tw-text-white' }}) }}
    </div>
    <div class="form-div my-2 mx-auto">
        {{ form_widget(form.lifting) }}
        <label class="label-name">
            <span class="content-name">Levée</span>
        </label>
    </div>
    <div class="form-div my-2 mx-auto">
        {{ form_widget(form.numberSeedsPerGram) }}
        <label class="label-name">
            <span class="content-name">nombre de graines / gr</span>
        </label>
    </div>
    <div class="form-div my-2 mx-auto">
        {{ form_widget(form.plantingDensity) }}
        <label class="label-name">
            <span class="content-name">Densité de plantation</span>
        </label>
    </div>
    <div class="form-div my-2 mx-auto">
        {{ form_widget(form.sowingdate) }}
        <label class="label-name">
            <span class="content-name">Date de semis</span>
        </label>
    </div>
    <div class="form-div my-2 mx-auto">
        {{ form_widget(form.harvestdate) }}
        <label class="label-name">
            <span class="content-name">Date de récolte</span>
        </label>
    </div>
    <div class="form-div my-2 mx-auto tw-text-left seedseller-lime-text">
        Pratique culturale
        {{ form_widget(form.cultivationPractice, { 'attr': { 'class': 'tw-text-white' }}) }}
    </div>
    <div class="form-div my-2 mx-auto">
        {{ form_widget(form.diseasesAndMainPests) }}
        <label class="label-name">
            <span class="content-name">Maladies et principaux ravageurs</span>
        </label>
    </div>
    <div class="form-div my-2 mx-auto tw-text-left seedseller-lime-text">
        Informations supplémentaires
        {{ form_widget(form.additionalInformation, { 'attr': { 'class': 'tw-text-white' }}) }}
    </div>
    {{ form_widget(form) }}

    <a class="tw-ml-4 btn btn-seedseller-lime my-5" href="{{ backoffice ? path('admin_seed_suggestion_index') : path('seed_index') }}">{{ backoffice ? "Retour aux suggestions" : "Retour à la boutique" }}</a>
    <button class="btn btn-seedseller-green my-5">{{ button_label|default('Valider') }}</button>
    {{ form_end(form) }}

</div>


