{% block stylesheets %}
 {{ encore_entry_link_tags('form')}}
 {{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
 <main class="text-center text-white w-100">
  {% set formErrors = form.vars.errors.form.getErrors(true) %}

  {% if formErrors|length %}
   <div class="alert alert-danger" role="alert">
    <ul>
     {% for error in formErrors %}
      <li>{{ error.message }}</li>
     {% endfor %}
    </ul>
   </div>
  {% endif %}
  <h1>Editer une suggestion de graine</h1>

  <hr class="delimiter bg-white">
  <div class="form my-4 text-center mx-auto">
    {{ include('seed_suggestion/_form.html.twig', {'button_label': 'Modifier'}) }}
  </div>
 </main>

{% endblock %}

