<h1 class="text-center tw-pt-3 seedseller-brown-text">{{ backoffice ? "Suggestions de graines" : "Mes suggestions de graine" }}</h1>
<hr class="delimiter seedseller-brown">
<div class="text-center mt-5 d-flex flex-row flex-wrap justify-content-center col-12" id="cards">
{% for seed_suggestion in seed_suggestions %}

        <div class="custom-card justify-content-self w-75 seedseller-brown tw-text-white tw-rounded-lg tw-pb-4 tw-shadow-xl tw-mb-5">
            <div class="custom-card-head tw-justify-center tw-flex">
                <img class="tw-auto tw-h-40 tw-object-content" src="{{ seed_suggestion.image is not null ? vich_uploader_asset(seed_suggestion, 'imageFile') : asset('/uploads/images/seed_pic/default_seed_pic.jpeg') }}" alt="{{ seed_suggestion.seedName }}">
            </div>
            <div class="details">
                <h3 class="tw-pb-2 tw-text-center tw-bg-yellow-200 tw-pt-2 tw-rounded-t-lg seedseller-lime seedseller-brown-text">Suggéré par: {{ seed_suggestion.suggestorFirstname }} {{ seed_suggestion.suggestionLastname }} - {{ seed_suggestion.suggestorEmail }}</h3>
                <hr class="tw-pb-2 tw-pt-2">

                <div class="details-body pr-4 pl-4 pt-3">

                    <div class="tw-flex pb-2 tw-justify-start pl-2">
                        <p class="tw-text-xl tw-mr-3"><span class="tw-font-semibold seedseller-lime-text">Graine:</span> {{ seed_suggestion.seedName }}</p>
                        <p class="tw-text-lg tw-mr-3 twcustom-card-head-w-25"><span class="tw-font-semibold seedseller-lime-text">Catégorie:</span> {{ seed_suggestion.categoryName.name }}</p>
                        <p class="tw-text-lg"><span class="tw-font-semibold seedseller-lime-text">Unité de mesure:</span> {{ seed_suggestion.measurementUnit }}</p>
                    </div>

                    <div class="tw-text-justify pr-2 pl-2">
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Levée:</span> {{ seed_suggestion.lifting }}</p>
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Nombre de graines / gr:</span> {{ seed_suggestion.numberSeedsPerGram }}</p>
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Densité de plantation:</span> {{ seed_suggestion.plantingDensity }}</p>
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Date de semis:</span> {{ seed_suggestion.sowingdate }}</p>
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Date de récolte:</span> {{ seed_suggestion.harvestdate }}</p>
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Pratique culturale:</span> {{ seed_suggestion.cultivationPractice }}</p>
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Maladies et principaux ravageurs:</span> {{ seed_suggestion.diseasesAndMainPests }}</p>
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Description:</span> {{ seed_suggestion.description }}</p>
                        <p class="tw-text-lg pb-2"><span class="tw-font-semibold seedseller-lime-text">Informations supplémentaire:</span> {{ seed_suggestion.additionalInformation }}</p>
                    </div>

                    <div class="tw-flex pb-2 tw-justify-start pl-2">
                        <p class="tw-text-lg tw-mr-3"><span class="tw-font-semibold seedseller-lime-text">Validé:</span> {{ seed_suggestion.validated ? 'OUI' : 'NON' }}</p>
                        <p class="tw-text-lg tw-mr-3"><span class="tw-font-semibold seedseller-lime-text">Créé à:</span> {{ seed_suggestion.createdAt ? seed_suggestion.createdAt|date('d/m/Y') : '' }}</p>
                        <p class="tw-text-lg"><span class="tw-font-semibold seedseller-lime-text">Mis à jour:</span> {{ seed_suggestion.updatedAt ? seed_suggestion.updatedAt|date('d/m/Y') : '' }}</p>
                    </div>
                </div>


                <div class="d-flex flex-column justify-content-around align-items-center mt-3">
                    <div class="d-flex flex-row justify-content-around align-items-center mt-3 tw-gap-2">
                        {% if backoffice %}
                            <a href="{{ path('admin_seed_suggestion_edit', {'id': seed_suggestion.id}) }}">
                                <i class="fas fa-pencil-alt fa-2x"></i>
                            </a>
                            {{ include('seed_suggestion/_delete_form.html.twig') }}
                            <a href="{{ path('admin_seed_suggestion_validate', {'id': seed_suggestion.id}) }}" id="validated">{{ include('back/seed_suggestion/_validate_form.html.twig') }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Il n'y a pas de graines suggérées pour le moment</p>
{% endfor %}
</div>

{% if not backoffice %}
    <a href="{{ path('seed_suggestion_new') }}">Nouvelle suggestion</a>
{% endif %}