

    {{ form_start(form, {'attr': {'class': 'col-lg-8 col-md-12'}}) }}
        <div class="row col-12 my-5">

            <div class="col-lg-6 col-md-12">
                <div class="form-div m-2">
                    {{ form_widget(form.quantity) }}
                    <label for="quantity" class="label-name">
                        <span class="content-name">Quantité (en {{ seed.measurementUnit ?? market.seed.measurementUnit }})</span>
                    </label>
                </div>
            </div>


            <div class="col-lg-6 col-md-12">
                <div class="form-div m-2">
                    {{ form_widget(form.price) }}
                    <label for="price" class="label-name">
                        <span class="content-name">Prix (en €/{{ seed.measurementUnit ?? market.seed.measurementUnit }})</span>
                    </label>
                </div>
            </div>

        </div>

        <div class="row col-12 my-5">

            <div class="col-lg-6 col-md-12 tw-flex tw-justify-center">
                {{ form_widget(form.canSeparate, { attr: { class: 'm-1'}}) }}
                <label class="m-0">Separable</label>
            </div>


            <div class="col-lg-6 col-md-12">
                <div class="form-div m-2" id="div-minimumQuantity">
                    {{ form_widget(form.minimumQuantity) }}
                    <label for="price" class="label-name">
                        <span class="content-name">Quantité minimum (en {{ seed.measurementUnit ?? market.seed.measurementUnit }})</span>
                    </label>
                </div>
            </div>

        </div>

        <div class="tw-flex tw-justify-center">
            <button class="btn btn-success mb-5">{{ button_label|default('Créer') }}</button>
        </div>
    {{ form_end(form) }}