 <div class="tw-flex tw-flex-col tw-items-center tw-text-white">
     <div class="tw-flex tw-justify-start tw-w-full">
         <a href="{{ referer is defined ? referer : path(backoffice ? 'admin_market_index' : 'market_index') }}" class="btn btn-seedseller-lime tw-flex m-4">
             <i class="fas fa-arrow-alt-left mr-1"></i>
             Retour à la liste
         </a>
     </div>
     <h1>Modifier une offre</h1>

     {{ include('market/_form.html.twig',  {'button_label': 'Mettre à jour'}) }}
 </div>
