<div class="row justify-content-center mx-auto" id="markets">
    {% for market in markets %}
        <div class="selling_box row col-lg-12 col-md-5 mx-2 my-10 my-lg-1 text-center d-lg-flex align-items-lg-center">
            <div class="tw-flex flex-row justify-content-lg-start justify-content-md-center align-items-center col-lg-4 col-md-12 mb-lg-0 mb-md-3">
                <img src="{{ asset(market.owner.image is not null ? '/uploads/images/profile_pic/' ~ market.owner.image : '/uploads/images/profile_pic/default_profile_pic.png') }}" class="owner-picture">
                <div class="tw-flex flex-column align-items-start">
                    <p class="mb-0">{{ market.owner.firstname }}
                        {{ market.owner.lastname }}</p>
                    <div class="tw-flex">
                        {% for i in 0..4 %}
                            <i class="fas fa-star tw-text-yellow-300"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="selling-infos col-lg-2 col-md-6 d-lg-flex flex-lg-column align-items-lg-start">
                <div class="tw-flex">
                    <i class="fas fa-cubes mr-1"></i>
                    <strong>&nbsp;{{ market.quantity }}
                        {{ market.seed.measurementUnit }}</strong>
                </div>
                <div class="tw-flex">
                    <i class="fas fa-coins mr-1"></i>
                    <strong>&nbsp;{{ market.price }}
                        €/{{ market.seed.measurementUnit }}</strong>
                </div>
                {% if backoffice %}
                    <div class="tw-flex">
                        <a href="{{ path('admin_seed_more_information', {'id': market.seed.id}) }}" class="link-underline">
                            {{ market.seed.name }}
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="options-icons tw-grid tw-grid-cols-1 col-lg-4 col-md-6">
                {% if market.canSeparate %}
                    <div>
                        <i class="fas fa-cut mr-1"></i>
                        <span class="mr-2">Séparable</span>
                    </div>
                {% endif %}
                <div>
                    <i class="fas fa-check mr-1"></i>
                    <span>Disponible</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 justify-content-center mt-lg-0 mt-md-3">
                {% if backoffice or (app.user and app.user.id == market.owner.id) %}
                    <a href="{{ path(backoffice ? "admin_market_edit" : "market_edit",{id: market.id}) }}" class="btn btn-seedseller-lime tw-flex editLink">
                        &nbsp;Editer
                    </a>
                {% else %}
                    <a href="{{ path('cart_new', {id: market.id}) }}" class="btn btn-seedseller-lime tw-flex">
                        <i class="fas fa-shopping-cart"></i>
                        &nbsp;Acheter
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        {% if myOffers is not defined %}
            <p>Il n'y a pas d'offre actuellement pour cette graine.</p>
        {% endif %}
    {% endfor %}
</div>