{% extends 'base_front.html.twig' %}

{% set cardEffects = ['slide-right', 'fade-right', 'fade-in', 'fade-left', 'slide-left'] %}

{% block title %}
	Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home')}}
{% endblock %}

{% block body %}
	<div class="mb-5 d-flex justify-content-around align-items-center" id="section1">
		<div class="col-lg-5 col-md-12 px-5 d-lg-block d-md-flex flex-column align-items-center">
			<h2 class="text-bold mb-4" data-aos="slide-down" data-aos-duration="600" data-aos-easing="ease-in-out">
				SeedSeller, le paradis de la graine!
			</h2>
			<div class="mb-5 text-justify" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800" data-aos-easing="ease-in-out">
				<h5 class="mb-3">SeedSeller vous permet d'acheter ou de vendre un stock de graines à un particulier.</h5>

				<h5 class="mb-3">Afin de vous fournir la meilleure expérience sur notre site nous vous proposons de louer ou de proposer
																																								un stockage afin de stocker vos stocks de graines en attendant la vente ou l'achat de ce stock.</h5>

				<h5>Faites vous livrer et cultivez !</h5>
			</div>
			<div class="text-center">
				<a href="{{ path('seed_index') }}" type="button" class="btn btn-seedseller-brown" data-aos="zoom-in" data-aos-delay="800" data-aos-duration="600" data-aos-easing="ease-in-out">
					C'est parti !
				</a>
			</div>
		</div>
		<div class="col-lg-5 col-md-12 px-5 d-none d-lg-flex justify-content-center" data-aos="fade-in" data-aos-delay="400" data-aos-duration="800" data-aos-easing="ease-in-out">
			<img src="{{ asset('/images/plants.jpg') }}" class="home-image-1" alt="plants">
			<img src="{{ asset('/images/seeds.jpg') }}" class="home-image-2" alt="seeds">
		</div>
	</div>
	<!--Section 2-->
	<h2 class="has-line-around text-bold" data-aos="fade-in" data-aos-easing="ease-in-out">Meilleures ventes</h2>
	<div class="d-flex flex-column align-items-center">
		<div class="text-center mt-5 d-flex flex-wrap justify-content-center">
			{% for seed in seeds %}
				<div class="custom-card" data-aos="{{ cardEffects[loop.index0] }}" data-aos-easing="ease-in-out">
					<div class="custom-card-head">
						<img src="{{ asset(seed.image is not null ? '/uploads/images/seed_pic/' ~ seed.image : '/uploads/images/seed_pic/default_seed_pic.jpeg') }}" alt="{{ seed.name }}">
					</div>
					<div class="details">
						<h3>{{ seed.name }}</h3>
						<p>{{ seed.category }}</p>
						<div class="d-flex flex-row justify-content-around align-items-center">
							<div class="d-flex flex-column justify-content-center align-items-center">
								<i class="fas fa-tags my-1 tw-text-xl"></i>
								{{ seed.nboffer }}
								offres
							</div>
							<div class="d-flex flex-column justify-content-center align-items-center">
								<i class="fas fa-balance-scale-right my-1 tw-text-xl"></i>
								{{ seed.avgprice|number_format(2) }}€/{{ seed.measurement_unit }}
							</div>
						</div>
						<div class="d-flex flex-column justify-content-around align-items-center mt-3">
							<a class="tw-flex mb-2 text-decoration-none seedseller-lime-text lighten-2" href="{{ path('seed_more_information', { 'id': seed.id }) }}">
								<i class="fas fa-search mr-1"></i>
								Plus d'infos
							</a>
							<a href="{{ path('seed_show', { 'id': seed.id }) }}" class="btn btn-rounded btn-seedseller-lime p-2">
								<i class="fas fa-cart-arrow-down fa-2x"></i>
							</a>
						</div>
					</div>

				</div>
			{% endfor %}
		</div>
		<a href="{{ path('seed_index') }}" class="text-decoration-none" data-aos="fade-in" data-aos-easing="ease-in-out">
			<span class="mt-4 fs-6 seedseller-brown-text text-bold">Voir toutes nos graines
				<i class="fas fa-angle-right fa-xs"></i>
			</span>
		</a>
	</div>

	<hr class="delimiter mt-5" data-aos="fade-in" data-aos-easing="ease-in-out">

	<div class="pb-5 text-center div-center mt-5" data-aos="fade-up" data-aos-easing="ease-in-out">
		<h3 class="pb-3 text-bold">Nous sommes le premier distributeur de graines entre particuliers et professionnels en ligne !</h3>
		<p>
			Nous aspirons à devenir le service en ligne de référence en ventes, stockage et achats de graines
		</p>
		<p>
			en offrant la meilleure expérience utilisateur entre les clients
		</p>
	</div>
	<div class=" row pb-3 text-center">
		<div class="col-lg-4 col-md-12 pb-3 px-5" data-aos="fade-right" data-aos-easing="ease-in-out">
			<i class="fas fa-shopping-basket h4 seedseller-lime-text fa-3x"></i>
			<h3 class="mb-2">Acheter</h3>
			<p>
				Trouvez la graine que vous souhaitez acheter et naviguez à travers les offres des particuliers afin de trouver la meilleure offre au meilleur prix.
			</p>
		</div>

		<div class="col-lg-4 col-md-12 pb-3 px-5" data-aos="fade-in" data-aos-easing="ease-in-out">
			<i class="fas fa-warehouse h4 seedseller-lime-text fa-3x"></i>
			<h3 class="mb-2">Stocker</h3>
			<p>
				Nous vous proposons de louer un entrepôt afin de stocker vos graines. Vous pouvez également mettre à disposition un de vos entrepôt pour d'autres utilisateurs.
			</p>
		</div>

		<div class="col-lg-4 col-md-12 pb-3 px-5" data-aos="fade-left" data-aos-easing="ease-in-out">
			<i class="fas fa-truck h4 seedseller-lime-text fa-3x"></i>
			<h3 class="mb-2">Livrer</h3>
			<p>
				Faites appel à un de nos livreurs afin de recevoir votre livraison dans les meilleurs délais sans vous déplacer.
			</p>
		</div>
	</div>
	{% if app.user and not is_granted('ROLE_DELIVERY') %}
		<hr class="delimiter mt-5" data-aos="fade-in" data-aos-easing="ease-in-out">

		<div class="pb-5 text-center div-center mt-5" data-aos="fade-up" data-aos-easing="ease-in-out">
			<h3 class="pb-3 text-bold">Vous souhaitez devenir livreur pour nous ?</h3>
			<p class="pb-3">
				Proposez-vous en tant que livreur sur le lien ci-dessous.
			</p>
			<div class="text-center">
				<a href="{{ path('user_crud') }}" type="button" class="btn btn-seedseller-lime" data-aos="zoom-in" data-aos-delay="800" data-aos-duration="600" data-aos-easing="ease-in-out">
					C'est parti !
				</a>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home')}}
{% endblock %}
