{% extends 'base_front.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form')}}
	{{ encore_entry_link_tags('body-brown')}}
{% endblock %}

{% block body %}
	<main class="text-center text-white">
		<h1 class="my-5">Mes informations</h1>
		<hr class="delimiter bg-white">
		<div class="row mx-auto d-flex justify-content-around mb-6">
			<div class="col-lg-2 col-md-12">
				<h2 class="mt-4">Modifier mes données</h2>
				<div class="form my-4">
					{{ form_start(form) }}
					<div class="form-div my-2">
						{{ form_widget(form.email) }}
						<label class="label-name">
							<span class="content-name">Email</span>
						</label>
					</div>
					<div class="form-div my-2">
						{{ form_widget(form.firstname) }}
						<label class="label-name">
							<span class="content-name">Nom</span>
						</label>
					</div>
					<div class="form-div my-2">
						{{ form_widget(form.lastname) }}
						<label class="label-name">
							<span class="content-name">Prénom</span>
						</label>
					</div>
					<button class="btn btn-seedseller-green my-2">{{ 'Modifier'|default('Save') }}</button>
					{{ form_end(form) }}
				</div>
			</div>
			<div class="col-lg-2 col-md-12">
				{% set formProfilePicErrors = form_profile_pic.vars.errors.form.getErrors(true) %}
				{% if formProfilePicErrors|length %}
					<div class="alert alert-danger" role="alert">
						<ul>
							{% for error in formProfilePicErrors %}
								<li>{{ error.message }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				<div class="form my-4">
					<h2>Modifier ma photo de profil</h2>
					{{ form_start(form_profile_pic) }}
					<img class="img-thumbnail tw-rounded-full tw-w-32 tw-h-32 mt-3 mx-auto" src="{{ (app.user.image is null) ? asset("/uploads/images/profile_pic/default_profile_pic.png") : vich_uploader_asset(app.user, 'imageFile') }}">
					<div class="form-div my-2">
						{{ form_widget(form_profile_pic.imageFile) }}
					</div>
					<button class="btn btn-seedseller-green my-2">{{ 'Modifier'|default('Save') }}</button>
					{{ form_end(form_profile_pic) }}
				</div>
			</div>
			<div class="col-lg-2 col-md-12">
				{% set formErrorsPassword = form_password.vars.errors.form.getErrors(true) %}
				{% if formErrorsPassword|length %}
					<div class="alert alert-danger" role="alert">
						<ul>
							{% for error in formErrorsPassword %}
								<li>{{ error.message }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				<div class="form my-4">
					<h2>Modifier mon mot de passe</h2>
					{{ form_start(form_password) }}
					<div class="form-div my-2">
						{{ form_widget(form_password.password) }}
						<label class="label-name">
							<span class="content-name">Nouveau mot de passe</span>
						</label>
					</div>
					<div class="form-div my-2">
						{{ form_widget(form_password.confirm_password) }}
						<label class="label-name">
							<span class="content-name">Confirmez nouveau mot de passe</span>
						</label>
					</div>
					<button class="btn btn-seedseller-green my-2">{{ 'Modifier'|default('Save') }}</button>
					{{ form_end(form_password) }}
				</div>
			</div>
		</div>

		<div class="row mx-auto d-flex justify-content-around mb-6">
			{% if user.request_delivery == 0 %}
			<form method="post" action="{{ path('user_request_delivery', {'id': user.id}) }}">
				<input type="hidden" name="_token" value="{{ csrf_token('request_delivery' ~ user.id) }}">
				<button class="btn btn-seedseller-lime">
					Demander pour être livreur
				</button>
			</form>
			{% elseif user.request_delivery == 2 %}
				<p>Votre demande est en attente de validation</p>
			{% elseif user.request_delivery == 1 %}
				<p>Vous êtes livreur pour SeedSeller</p>
			{% endif %}
		</div>
	</main>
{% endblock %}