<div>
    <div id="sidebar" class="sidebar seedseller-brown seedseller-lime-text">
        <div class="sidebar-content">
            <h2>Catégories</h2>
            <div>
                {% for category in categories %}
                    <div class="d-flex justify-content-left align-items-center">
                        <input type="radio" name="category" value="{{ category.id }}">
                        <label class="container-checkbox align-self-center mb-0">{{ category.name }}</label>
                    </div>
                {% else %}
                    <p>Aucune catégorie</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="main">
        <a href="javascript:void(0)" class="d-none d-md-block" id="sidebar-btn">
            <div id="sidebar-arrow">
                <i class="arrow right"></i>
            </div>
            <span id="sidebar-text" class="ml-3">Voir les catégories</span>
        </a>
        <h1 class="text-center text-bold">{{ backoffice ? 'Les graines' : "Boutique" }}</h1>
        <hr class="delimiter">

        <div class="d-flex flex-row justify-content-between tw-flex-wrap">
            {% if backoffice %}
                <a href="{{ path('admin_seed_suggestion_index') }}" class="btn btn-seedseller-lime">Voir les suggestions</a>
            {% else %}
                <a href="{{ path('seed_suggestion_new') }}" class="btn btn-seedseller-lime">Suggérer une nouvelle graine</a>
            {% endif %}
            <input type="text" class="form-control" id="search" placeholder="Recherche...">
        </div>

        <div class="custom-card d-none" id="card-prototype">
            <div class="custom-card-head">
                <img src="">
            </div>
            <div class="details">
                <h3>xxx</h3>
                <p>xxx</p>
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <div class="d-flex flex-column justify-content-center align-items-center nbOffers">
                        <i class="fas fa-tags my-1 tw-text-xl"></i>
                        <span>xxx</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center avgPrice">
                        <i class="fas fa-balance-scale-right my-1 tw-text-xl"></i>
                        <span>xxx</span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-around align-items-center mt-3">
                    <a class="tw-flex mb-2 text-decoration-none seedseller-lime-text lighten-2 more-infos" href="">
                        <i class="fas fa-search mr-1"></i>
                            Plus d'infos
                    </a>
                    <div class="d-flex flex-row justify-content-around align-items-center mt-3 tw-gap-2">
                        <a href="" class="btn btn-rounded btn-seedseller-lime p-2 show-seed">
                            <i class="fas fa-cart-arrow-down fa-2x"></i>
                        </a>
                        {% if backoffice %}
                            <a href="" class="btn btn-rounded btn-seedseller-lime p-2 edit-seed">
                                <i class="fas fa-pencil-alt fa-2x"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5 d-flex flex-row flex-wrap justify-content-center" id="cards">
            {% for seed in seeds %}

                {% set totalPrice = 0 %}
                {% set activeOffers = 0 %}
                {% for market in seed.markets %}
                    {% if market.quantity > 0 %}
                        {% set totalPrice = totalPrice + market.price %}
                        {% set activeOffers = activeOffers + 1 %}
                    {% endif %}
                {% endfor %}

                <div class="custom-card">
                    <div class="custom-card-head">
                        <img src="{{ seed.image is not null ? vich_uploader_asset(seed, 'imageFile') : asset('/uploads/images/seed_pic/default_seed_pic.jpeg') }}" alt="{{ seed.name }}">
                    </div>
                    <div class="details">
                        <h3>{{ seed.name }}</h3>
                        <p>{{ seed.category.name }}</p>
                        <div class="d-flex flex-row justify-content-around align-items-center">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="fas fa-tags my-1 tw-text-xl"></i>
                                {{ activeOffers }}
                                offres
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="fas fa-balance-scale-right my-1 tw-text-xl"></i>
                                {% if activeOffers > 0 %}
                                    {{ (totalPrice / activeOffers)|number_format(2) }}€/{{ seed.measurementUnit }}
                                {% else %}
                                    encore aucune offre
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-around align-items-center mt-3">
                            <a class="tw-flex mb-2 text-decoration-none seedseller-lime-text lighten-2" href="{{ backoffice ? path('admin_seed_more_information', { 'id': seed.id }) : path('seed_more_information', { 'id': seed.id }) }}">
                                <i class="fas fa-search mr-1"></i>
                                Plus d'infos
                            </a>
                            <div class="d-flex flex-row justify-content-around align-items-center mt-3 tw-gap-2">
                                <a href="{{ backoffice ? path('admin_market_index', { 'seed': seed.id }) : path('seed_show', { 'id': seed.id }) }}" class="btn btn-rounded btn-seedseller-lime p-2">
                                    <i class="fas fa-cart-arrow-down fa-2x"></i>
                                </a>
                                {% if backoffice %}
                                    <a href="{{ path('admin_seed_edit', {'id': seed.id}) }}" class="btn btn-rounded btn-seedseller-lime p-2">
                                        <i class="fas fa-pencil-alt fa-2x"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Il n'y a pas de graines en vente pour le moment</p>
            {% endfor %}
        </div>

    </div>
</div>