<a href="{{ backoffice ? path('admin_seed_index') : path('seed_index') }}" class="btn btn-seedseller-lime m-4">
	<i class="fas fa-arrow-alt-left"></i>
	{% if backoffice %}
		Retour aux graines
	{% else %}
		Retour à la boutique
	{% endif %}
</a>

<div class="tw-flex tw-flex-col tw-items-center tw-text-white">
	<img src="{{ asset(seed.image is not null ? '/uploads/images/seed_pic/' ~ seed.image : '/uploads/images/seed_pic/default_seed_pic.jpeg') }}" id="seed_picture">
	<h1 id="seed_name">{{ seed.name }}</h1>
	<p id="seed_categories">
		<i class="seedseller-lime-text">Categorie:</i>
		<strong>{{ seed.category.name }}</strong>
	</p>

	<div class="tw-text-center col-lg-6 col-md-10 mx-auto my-5">
		<div class="mt-4">
			<span class="seedseller-lime-text">Levée</span>
			<p class="mt-1">{{ seed.lifting }}</p>
		</div>
		<div class="mt-4">
			<span class="seedseller-lime-text">Nombre de graines/g</span>
			<p class="mt-1">{{ seed.numberSeedsPerGram }}</p>
		</div>
		<div class="mt-4">
			<span class="seedseller-lime-text">Densité de plantation</span>
			<p class="mt-1">{{ seed.plantingDensity }}</p>
		</div>
		<div class="mt-4">
			<span class="seedseller-lime-text">Date de semis</span>
			<p class="mt-1">{{ seed.sowingdate }}</p>
		</div>
		<div class="mt-4">
			<span class="seedseller-lime-text">Date de récolte</span>
			<p class="mt-1">{{ seed.harvestdate }}</p>
		</div>
		<div class="mt-4">
			<span class="seedseller-lime-text">Pratique culturale</span>
			<p class="mt-1">{{ seed.cultivationPractice }}</p>
		</div>
		<div class="mt-4">
			<span class="seedseller-lime-text">Maladies et principaux ravageurs</span>
			<p class="mt-1">{{ seed.diseasesAndMainPests }}</p>
		</div>
		<div class="mt-4">
			<span class="seedseller-lime-text">Informations supplémentaires</span>
			<p class="mt-1">{{ seed.additionalInformation }}</p>
		</div>
		<div class="tw-flex tw-justify-around mt-4">
			<a href="{{ backoffice ? path('admin_market_index', { 'seed': seed.id }) : path('seed_show', { 'id': seed.id }) }}" class="btn btn-rounded btn-seedseller-lime p-2 show-seed">
				<i class="fas fa-cart-arrow-down mr-1"></i>
				&nbsp;Acheter cette graine
			</a>
			<a href="{{ path('market_new', {'id': seed.id}) }}" class="btn btn-rounded btn-seedseller-lime p-2">
				<i class="fas fa-plus mr-1"></i>
				&nbsp;Ajouter une vente
			</a>
		</div>
	</div>
</div>
