<form method="post" action="{{ path('market_delete', {'id': market.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ market.id) }}">
    <button><i class="fas fa-trash tw-m-1"></i> Supprimer</button>
</form>
