{% extends 'base_front.html.twig' %}

{% block title %} Mes offres {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('seed_show')}}
{% endblock %}

{% block body %}
    <div id="presentation_box" class="seedseller-brown seedseller-lime-text">
        <h1 class="text-center text-bold">Mes offres</h1>
        <hr class="delimiter seedseller-lime">
        <p class="text-center">Ajoutez des offres en vous rendant sur le détail d'une graine dans la boutique.</p>
        <div>
            <a class="btn btn-seedseller-lime mt-3" href="{{ path('seed_index') }}">Boutique</a>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
        {% for market in markets %}

            {% set totalCommands = 0 %}
            {% set quantityInCart = 0 %}
            {% for itemCommand in market.itemCommands %}
                {% if itemCommand.command.status != "pending" %}
                    {% set totalCommands = totalCommands + 1 %}
                {% else %}
                    {% set quantityInCart = quantityInCart + itemCommand.quantity %}
                {% endif %}
            {% endfor %}

            <div class="custom-horizontal-card">
                <div class="left-content seedseller-brown seedseller-lime-text tw-relative">
                    <div class="thumbnail">
                        <img src="{{ asset(market.seed.image is not null ? '/uploads/images/seed_pic/' ~ market.seed.image : '/uploads/images/seed_pic/default_seed_pic.jpeg') }}">
                    </div>

                    <div class="tw-absolute tw-bottom-6 tw-left-4 tw-w-full tw-text-center tw-text-lg tw-flex tw-flex-col tw-items-start">
                        <a href="{{ path('market_show', { 'id': market.id }) }}"><i class="fas fa-eye seedseller-lime-text tw-m-1"></i> Voir</a>
                        <a href="{{ path('market_edit', { 'id': market.id }) }}"><i class="fas fa-pen seedseller-lime-text tw-m-1"></i> Modifier</a>
                        {% if market.itemCommands is empty %}
                            {{ include('front/market/_delete_form.html.twig') }}
                        {% else %}
                            <a href="{{ path('market_close', { 'id': market.id }) }}"><i class="fas fa-times seedseller-lime-text tw-m-1" style="width: 18px"></i> Fermer</a>
                        {% endif %}
                    </div>
                </div>
                <div class="right-content tw-text-center">
                    <h3 class="tw-mt-6 tw-font-bold">{{ market.seed.name }}</h3>

                    <div class="tw-mt-4 tw-text-lg">
                        <strong>{{ totalCommands }}</strong>
                        commandes
                    </div>
                    <div class="tw-flex tw-justify-around tw-text-xl tw-mt-2 md:tw-mt-8">
                        <div class="tw-flex tw-flex-col tw-text-base">
                            <h4 class="tw-text-lg"><strong>Prix</strong></h4>
                            {{ market.price }}€/{{ market.seed.measurementUnit }}
                        </div>
                        <div class="tw-flex tw-flex-col tw-text-base">
                            <h4 class="tw-text-lg"><strong>Quantité</strong></h4>
                            {{ market.quantity + quantityInCart }}{{ market.seed.measurementUnit }}
                        </div>
                    </div>
                    <div class="tw-mt-5">
                        <a href="{{ path('seed_show', { 'id': market.seed.id }) }}">Voir les offres <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        {% else %}
            Vous n'avez pas d'offres en cours
        {% endfor %}
    </div>
    {% if soldMarkets %}
    <p class="text-center tw-mt-10 tw-mb-5 tw-cursor-pointer" id="moreOffersTrigger" data-deploy="false">Toutes mes offres <i class="fas fa-chevron-down"></i></p>
    <div class="tw-hidden" id="moreOffersContent">
        {% for market in soldMarkets %}

            {% set totalCommands = 0 %}
            {% set quantityInCart = 0 %}
            {% for itemCommand in market.itemCommands %}
                {% if itemCommand.command.status != "pending" %}
                    {% set totalCommands = totalCommands + 1 %}
                {% else %}
                    {% set quantityInCart = quantityInCart + itemCommand.quantity %}
                {% endif %}
            {% endfor %}

            <div class="custom-horizontal-card">
                <div class="left-content seedseller-brown seedseller-lime-text tw-relative">
                    <div class="thumbnail">
                        <img src="{{ asset(market.seed.image is not null ? '/uploads/images/seed_pic/' ~ market.seed.image : '/uploads/images/seed_pic/default_seed_pic.jpeg') }}">
                    </div>

                    <div class="tw-absolute tw-bottom-6 tw-left-4 tw-w-full tw-text-center tw-text-lg tw-flex tw-flex-col tw-items-start">
                        <a href="{{ path('market_show', { 'id': market.id }) }}"><i class="fas fa-eye seedseller-lime-text tw-m-1"></i> Voir</a>
                    </div>
                </div>
                <div class="right-content tw-text-center">
                    <h3 class="tw-mt-6 tw-font-bold">{{ market.seed.name }}</h3>

                    <div class="tw-mt-4 tw-text-lg">
                        <strong>{{ totalCommands }}</strong>
                        commandes
                    </div>
                    <div class="tw-flex tw-justify-around tw-text-xl tw-mt-8">
                        <div class="tw-flex tw-flex-col tw-text-base">
                            <h4 class="tw-text-lg"><strong>Prix</strong></h4>
                            {{ market.price }}€/{{ market.seed.measurementUnit }}
                        </div>
                        <div class="tw-flex tw-flex-col tw-text-base">
                            <h4 class="tw-text-lg"><strong>Quantité</strong></h4>
                            {{ market.quantity + quantityInCart }}{{ market.seed.measurementUnit }}
                        </div>
                    </div>
                    <div class="tw-mt-5">
                        <a href="{{ path('seed_show', { 'id': market.seed.id }) }}">Voir les offres <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        {% else %}
            Vous n'avez pas d'autres offres
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('displayMoreOffers') }}
{% endblock %}