{% extends 'base_front.html.twig' %}

{% block title %}Ajouter une vente{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('body-brown') }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}

    <div class="tw-flex tw-flex-col tw-items-center tw-text-white">
        <div class="tw-flex tw-justify-start tw-w-full">
            <a href="{{ path('seed_show', {'id': seed.id}) }}" class="btn btn-seedseller-lime tw-flex m-4">
                <i class="fas fa-arrow-alt-left mr-1"></i>
                Retour aux offres
            </a>
        </div>
        <h1>Créer une nouvelle offre pour « {{ seed.name }} »</h1>

        {{ include('market/_form.html.twig') }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        const toggleDisplayDiv = (triggerCheckboxElt, displayDiv, valueForDisplay) => {
            if(triggerCheckboxElt.checked === !valueForDisplay) {
                displayDiv.style.display = 'none';
            } else {
                displayDiv.style.display = 'block';
            }
        }

        canSeparateCheckbox = document.getElementById('market_canSeparate');
        isAvailableCheckbox = document.getElementById('market_isAvailable');

        minimumQuantityDiv = document.getElementById('div-minimumQuantity');

        toggleDisplayDiv(canSeparateCheckbox, minimumQuantityDiv, true);

        canSeparateCheckbox.addEventListener('click', () => {
            toggleDisplayDiv(canSeparateCheckbox, minimumQuantityDiv, true);
        });

    </script>
{% endblock %}
