{% extends 'base_front.html.twig' %}

{% set totalPrice = 0 %}
{% set totalCommands = 0 %}
{% set quantityInCart = 0 %}
{% for itemCommand in market.itemCommands %}
    {% if itemCommand.command.status != "pending" %}
        {% set totalCommands = totalCommands + 1 %}
        {% set totalPrice = totalPrice + itemCommand.price %}
    {% else %}
        {% set quantityInCart = quantityInCart + itemCommand.quantity %}
    {% endif %}
{% endfor %}

{% block title %}Offre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('body-lime') }}
    {{ encore_entry_link_tags('seed_show') }}
{% endblock %}

{% block body %}

    <div class="tw-flex tw-items-start tw-p-4 tw-flex-wrap lg:tw-flex-nowrap">
        <div class="tw-bg-white col-lg-6 col-md-12 seedseller-brown-text lg:tw-mr-2 tw-mr-0 tw-py-4">
            <div class="tw-flex tw-justify-between tw-flex-col lg:tw-flex-row">
                <a href="{{ path('market_index') }}" class="btn btn-seedseller-lime tw-mb-2 lg:tw-mb-0">
                    <i class="fas fa-arrow-left"></i>
                    &nbsp;Retour
                </a>
                <div>
                    <a href="{{ path('market_edit', { 'id': market.id }) }}" class="btn btn-seedseller-lime">
                        <i class="fas fa-pen"></i>
                        &nbsp;Modifier
                    </a>
                    {% if market.itemCommands is not empty %}
                        <a href="{{ path('market_close', { 'id': market.id }) }}" class="btn btn-seedseller-lime">
                            <i class="fas fa-times"></i>
                            &nbsp;Fermer
                        </a>
                    {% else %}
                        <a href="{{ path('market_close', { 'id': market.id }) }}" class="btn btn-seedseller-lime">
                            {{ include('front/market/_delete_form.html.twig') }}
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="tw-flex tw-flex-col lg:tw-flex-row tw-justify-around tw-mt-8">
                <div class="tw-flex tw-flex-col tw-items-center">
                    <img src="{{ asset(market.seed.image is not null ? '/uploads/images/seed_pic/' ~ market.seed.image : '/uploads/images/seed_pic/default_seed_pic.jpeg') }}" id="seed_picture" class="tw-border-8 tw-border-solid tw-border-current tw-rounded-full tw-w-44 tw-h-44 tw-object-cover tw-overflow-hidden">
                    <h2 class="tw-font-medium tw-mt-5">{{ market.seed.name }}</h2>
                </div>

                <div class="tw-flex tw-flex-col tw-items-center">
                    <div class="tw-flex tw-flex-col tw-items-center tw-m-4">
                        <h4 class="tw-text-xl tw-font-bold">Quantité restante</h4>
                        {{ market.quantity + quantityInCart }}{{ market.seed.measurementUnit }}
                    </div>
                    <div class="tw-flex tw-flex-col tw-items-center tw-m-4">
                        <h4 class="tw-text-xl tw-font-bold">Prix</h4>
                        {{ market.price }}€/{{ market.seed.measurementUnit }}
                    </div>
                    <div class="tw-flex tw-flex-col tw-items-center tw-m-4">
                        <div>
                            {% if market.canSeparate %}
                                <i class="fas fa-check"></i>
                            {% else %}
                                <i class="fas fa-times"></i>
                            {% endif %}
                            Séparable
                        </div>
                        {% if market.canSeparate %}
                            <div>
                                Quantité minimum: {{ market.minimumQuantity }}{{ market.seed.measurementUnit }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="tw-flex tw-flex-col lg:tw-flex-row tw-justify-between tw-items-center tw-my-2 lg:tw-my-10">
                <div class="tw-flex tw-flex-col tw-items-center tw-m-2 lg:tw-m-4">
                    <h4 class="tw-text-xl tw-font-bold">Commandes</h4>
                    {{ totalCommands }}
                </div>
                <div class="tw-flex tw-flex-col tw-items-center tw-m-2 lg:tw-m-4">
                    <h4 class="tw-text-xl tw-font-bold">Quantité initiale</h4>
                    {{ market.initialQuantity }}{{ market.seed.measurementUnit }}
                </div>
                <div class="tw-flex tw-flex-col tw-items-center tw-m-2 lg:tw-m-4">
                    <h4 class="tw-text-xl tw-font-bold">Gains totaux</h4>
                    {{ totalPrice }}€
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 tw-text-white tw-p-0 lg:tw-ml-2 tw-ml-0 tw-mt-2 lg:tw-mt-0">
            {% for itemCommand in market.itemCommands %}
                {% if itemCommand.command.status != "pending" %}

                    <div class="seedseller-brown tw-mb-2 tw-p-5">
                        <div class="tw-flex tw-flex-col lg:tw-flex-row tw-justify-between">
                            <div class="tw-flex tw-flex-col lg:tw-flex-row">
                                <img src="{{ asset(itemCommand.command.owner.image is not null ? '/uploads/images/profile_pic/' ~ itemCommand.command.owner.image : '/uploads/images/profile_pic/default_profile_pic.png') }}" class="owner-picture">
                                <p class="tw-mt-2 lg:tw-mt-0">{{ itemCommand.command.owner.firstname }} {{ itemCommand.command.owner.lastname }}</p>
                            </div>
                            <div class="tw-mt-4 lg:tw-mt-0">
                                <p><strong class="seedseller-lime-text">Prix de la commande:</strong> {{ itemCommand.price }}€</p>
                                <p><strong class="seedseller-lime-text">Quantité commandée:</strong> {{ itemCommand.quantity }}{{ itemCommand.market.seed.measurementUnit }}</p>
                            </div>
                            <div class="tw-mt-4 lg:tw-mt-0 tw-text-center lg:tw-text-right">
                                <p>{{ itemCommand.command.address.address }}</p>
                                <p>{{ itemCommand.command.address.zipCode }} {{ itemCommand.command.address.city }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <p class="tw-text-center seedseller-brown-text">Pas de commandes pour cette offre</p>
            {% endfor %}
        </div>

    </div>

{% endblock %}
