<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            SeedSeller - Admin
        {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="icon" type="image/svg+xml" href="{{ asset('/images/logo-seedseller-icone.svg') }}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('global')}}
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% endblock %}
</head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light seedseller-brown-text">
        <div class="container-fluid mr-auto">
            <a class="navbar-brand tw-flex" href="{{ path('admin_default_index') }}">
                <i class="fas fa-cog fa-2x seedseller-lime-text"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse z-index-3" id="navbarNav">
                <ul class="navbar-nav md:tw-mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_category_index') }}">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_seed_index') }}">Graines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_market_index') }}">Offres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_user_index') }}">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_delivery') }}">Demande livreur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_command_index') }}">Commandes</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('default_index') }}">
                            Voir le site
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle tw-flex" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="tw-hidden lg:tw-block tw-rounded-full tw-h-6 tw-w-6 tw-mr-2" src="{{ (app.user.image is null) ? asset("/uploads/images/profile_pic/default_profile_pic.png") : vich_uploader_asset(app.user, 'imageFile') }}">
                            Mon compte
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('user_crud') }}">Menu utilisateur</a>
                            <a class="dropdown-item" href="{{ path('command_index') }}">Mes commandes</a>
                            <a class="dropdown-item" href="{{ path('market_index') }}">Mes offres</a>
                            <a class="dropdown-item" href="{{ path('addresses_index') }}">Mes adresses</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="container-fluid">
            <div class="tw-absolute tw-right-0 tw-top-20 tw-m-5">
                {% for message in app.flashes('success') %}
                    <div class="tw-flex tw-items-center tw-bg-green-500 tw-border-l-4 tw-border-green-700 tw-py-2 tw-px-3 tw-shadow-md tw-mb-2 flashMessage">
                        <!-- icons -->
                        <div class="tw-text-green-500 tw-rounded-full tw-bg-white tw-mr-3">
                            <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                            </svg>
                        </div>
                        <!-- message -->
                        <div class="tw-text-white tw-max-w-xs ">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="tw-flex tw-items-center tw-bg-red-500 tw-border-l-4 tw-border-red-700 tw-py-2 tw-px-3 tw-shadow-md tw-mb-2 flashMessage" >
                        <!-- icons -->
                        <div class="tw-text-red-500 tw-rounded-full tw-bg-white tw-mr-3">
                            <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                            </svg>
                        </div>
                        <!-- message -->
                        <div class="tw-text-white tw-max-w-xs ">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('global') }}
		{% block javascripts %}
		{% endblock %}
    </body>
</html>
