<!doctype html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				SeedSeller
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.gstatic.com"/>
		<link rel="icon" type="image/svg+xml" href="{{ asset('/images/logo-seedseller-icone.svg') }}"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('global') }}
			{{ encore_entry_link_tags('cards') }}
			<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet"/>
			<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		{% endblock %}
	</head>
	<body class="tw-min-h-screen tw-relative tw-w-full">
		<nav class="navbar navbar-expand-lg navbar-light bg-light seedseller-brown-text tw-w-full">
			<div class="container-fluid mr-auto">
				<a class="navbar-brand tw-flex" href="{{ path('default_index') }}">
					<img src="{{ asset('/images/logo-seedseller-icone.svg') }}" alt="logo-seedseller-icone" width="30" height="30"/>
					<img src="{{ asset('/images/logo-seedseller-txt.svg') }}" alt="logo-seedseller-txt" width="180" height="50" class="tw-ml-4 tw-mt-4"/>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse z-index-3" id="navbarNav">
					<ul class="navbar-nav md:tw-mx-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('default_index') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('seed_index') }}">Boutique</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('cart_index') }}">
									<i class="fas fa-shopping-cart" style="font-size:24px"></i>
									<span class='badge badge-warning' id='lblCartCount'>{{ app.user.cart ? app.user.cart.commandItems|length : 0 }}</span>
								</a>
							</li>
						{% endif %}
					</ul>
					<ul class="navbar-nav">
						{% if app.user and is_granted('ROLE_DELIVERY') %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('delivery') }}">
									Livraison
								</a>
							</li>
						{% endif %}
						{% if app.user and is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('admin_default_index') }}">
									Admin
								</a>
							</li>
						{% endif %}
						{% if app.user %}
							<li class="nav-item dropdown">
								<a class="btn dropdown-toggle tw-flex" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img class="tw-hidden lg:tw-block tw-rounded-full tw-h-6 tw-w-6 tw-mr-2" src="{{ (app.user.image is null) ? asset("/uploads/images/profile_pic/default_profile_pic.png") : vich_uploader_asset(app.user, 'imageFile') }}">
									Mon compte
								</a>

								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="{{ path('user_crud') }}">Menu utilisateur</a>
									<a class="dropdown-item" href="{{ path('command_index') }}">Mes commandes</a>
									<a class="dropdown-item" href="{{ path('market_index') }}">Mes offres</a>
									<a class="dropdown-item" href="{{ path('addresses_index') }}">Mes adresses</a>
									<a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
								</div>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_register') }}">
									S'inscrire
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">
									Se connecter
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<div class="tw-absolute tw-right-0 tw-top-20 tw-m-5">
			{% for message in app.flashes('success') %}
				<div class="tw-flex tw-items-center tw-bg-green-500 tw-border-l-4 tw-border-green-700 tw-py-2 tw-px-3 tw-shadow-md tw-mb-2 flashMessage">
					<!-- icons -->
					<div class="tw-text-green-500 tw-rounded-full tw-bg-white tw-mr-3">
						<svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
						</svg>
					</div>
					<!-- message -->
					<div class="tw-text-white tw-max-w-xs ">
						{{ message }}
					</div>
				</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="tw-flex tw-items-center tw-bg-red-500 tw-border-l-4 tw-border-red-700 tw-py-2 tw-px-3 tw-shadow-md tw-mb-2 flashMessage" >
					<!-- icons -->
					<div class="tw-text-red-500 tw-rounded-full tw-bg-white tw-mr-3">
						<svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
							<path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
						</svg>
					</div>
					<!-- message -->
					<div class="tw-text-white tw-max-w-xs ">
						{{ message }}
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="tw-pb-96 md:tw-pb-64"> {% block body %}{% endblock %}
			</div>

			<!-- Footer -->
			<footer class="tw-absolute tw-bottom-0 tw-w-full tw-bg-gray-800 tw-text-center tw-text-white tw-z-50">
				<div class="container p-4">
					<div class="row">
						<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
							<h5 class="text-bold">
								<u>
									Informations
								</u>
							</h5>

							<p>
								SeedSeller est un site fictif réalisé dans le cadre du projet annuel de Mastère 1 de l'ESGI.
							</p>
						</div>
						<div class="col-lg-6 col-md-12 mb-2 mb-md-0">
							<h5 class="text-bold">
								<u>
									Liens utiles
								</u>
							</h5>

							<ul class="list-unstyled">
								<li>
									<a href="{{ path('app_login') }}" class="text-decoration-none">Connexion</a>
								</li>
								<li>
									<a href="{{ path('app_register') }}" class="text-decoration-none">Inscription</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="text-center p-3">
					© 2020-2021 SeedSeller | France
				</div>
			</footer>

			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
			{{ encore_entry_script_tags('global') }}
			{% block javascripts %}{% endblock %}
		</body>
	</html>
